.main-hero {
  height: 100vh;
}

// =======swiper=======

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// --pagination------

.swiper-pagination-bullet {
  background: var(--white-base-color) !important;
  opacity: 1 !important;
  width: 4px !important;
  height: 4px !important;
}

.swiper-pagination-bullet-active {
  background: var(--white-base-color) !important;
  position: relative;
}

.swiper-pagination-bullet-active::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--white-base-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-hero__swiper {
  &-img-wrapper {
    position: relative;
  }

  &-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 39, 39, 0.212);
  }

  &-slide-text {
    padding-left: 40px;
    padding-top: 21px;
    padding-right: 23px;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
    line-height: 125%;

    & > span {
      color: var(--white-base-color);
    }
  }
}
