.main-hero {
  height: 100vh;
  padding-top: 12px;

  @media (min-width: 500px) {
    padding-top: 32px;
  }
  @media (min-width: 768px) {
    padding-top: 40px;
  }
  @media (min-width: 768px) {
    padding-top: 25px;
  }

  &__layout-gallery {
    display: none;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: 768px) {
        aspect-ratio: 15 / 14;
      }
    }

    @media (min-width: 500px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
      }
      @media (min-width: 1440px) {
        gap: 30px 26px;
      }

      &-img-wrapper {
        position: relative;
      }

      &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(42, 39, 39, 0.212);
      }

      &-item {
        &:first-child {
          grid-column: 1 / 3;
          grid-row: 1 / 2;

          @media (min-width: 768px) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
          }
        }

        &-text {
          font-size: 36px;
          line-height: 138%;
          padding: 23px;
          max-width: 420px;

          & > span {
            color: var(--white-base-color);
          }

          @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 26px;
            padding: 5px;
          }
        }
      }
    }
  }
}

// =======swiper=======

.main-hero__swiper-wrapper {
  @media (min-width: 500px) {
    display: none;
  }
}

// .swiper {

// }

// .swiper-slide {
// }

.main-hero__swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 15 / 14;
}

// --pagination------

.swiper-pagination-bullet {
  background: var(--white-base-color) !important;
  opacity: 1 !important;
  width: 4px !important;
  height: 4px !important;
}

.swiper-pagination-bullet-active {
  background: var(--white-base-color) !important;
  position: relative;
}

.swiper-pagination-bullet-active::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--white-base-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// -------------

.main-hero__swiper {
  &-img-wrapper {
    position: relative;
  }

  &-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 39, 39, 0.212);
  }

  &-slide-text {
    padding-left: 40px;
    padding-top: 38px;
    padding-right: 23px;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
    line-height: 125%;
    max-width: 288px;

    & > span {
      color: var(--white-base-color);
    }
  }
}
