.main-popular-matches {
  padding-top: 84px;
  padding-bottom: 208px;

  &__content {
    display: grid;
    grid-template-columns: 1fr 791px;
    align-content: start;
    column-gap: 40px;

    ::-webkit-scrollbar {
      width: 3px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 2px;
      background-color: $gray-text;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $basic-yellow;
      border-radius: 2px;
    }
  }

  &__list-cards {
    display: grid;
    row-gap: 29px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 1110px;
    align-self: start;

    & .list-cards {
      &__link {
        position: relative;
      }
      &__img {
        width: 100%;
        height: auto;
        object-fit: cover;

        &-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(211, 211, 211, 0.05);
        }
      }

      &__bottom-content {
        @include flex-align-row;
        justify-content: space-between;
        background: rgba(248, 248, 248, 0.05);
        padding: 19px 11px 14px 17px;
        border-top: 1px solid $basic-yellow;
        column-gap: 16px;

        &-teams {
          color: $light-text;
          @include flex-align-row;
          column-gap: 16px;
        }

        &-img {
          width: 27px;
          height: 21px;
        }

        &-team {
          @include flex-align-row;
          column-gap: 10px;

          &-name {
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
          }

          &-divider {
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
          }
        }

        &-round {
          color: $gray-text;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          white-space: nowrap;
        }
      }
    }
  }

  // popular-matches

  &__popular {
    &-content {
      background: rgba(248, 248, 248, 0.05);
      padding: 36px 24px 37px 58px;
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 15px;
    }

    // list
    &-list {
      overflow-y: auto;
      max-height: 1001px;

      & .popular-list {
        &__item {
          display: grid;
          grid-template-columns: 1fr 100px 1fr;
          align-items: end;
          padding-top: 16px;
          margin-right: 24px;

          &:not(:last-child) {
            padding-bottom: 16px;
            border-bottom: 1px solid $gray-text;
          }
        }

        &__team {
          @include flex-align-row;
          column-gap: 8px;

          &-img {
            width: 58px;
            height: 52px;
            flex-shrink: 0;
          }

          &-name {
            font-weight: 500;
            line-height: normal;
          }

          &_second {
            flex-direction: column;
            & > .popular-list__link {
              margin-left: auto;
            }
          }
        }

        &__link {
          @include flex-align-row;
          column-gap: 15px;
        }

        &__points {
          color: $gray-text;
          font-weight: 500;
          line-height: normal;
        }

        &__score {
          @include flex-align-column;
          row-gap: 8px;
          padding-bottom: 11px;

          &-time {
            color: $light-gray-text;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            line-height: normal;
          }

          &-score {
            text-align: center;
            font-size: 24px;
            font-weight: 900;
            line-height: normal;
          }
        }

        &__status-title {
          color: $basic-yellow;
          text-align: right;
          margin-bottom: 6px;
          font-weight: 500;
          line-height: normal;
          margin-left: auto;
        }
      }
    }
  }
}
