.main-leaderboard {
  padding-top: 69px;
  padding-bottom: 63px;

  // content======
  &__content {
    display: grid;
    grid-template-columns: 445px 1fr;
    column-gap: 42px;

    ::-webkit-scrollbar {
      width: 3px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 2px;
      background-color: $gray-text;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $basic-yellow;
      border-radius: 2px;
    }
  }

  // -------leaderboard-------
  &__leaderboard {
    background: rgba(248, 248, 248, 0.05);
    padding: 21px 22px 21px 54px;
    height: 653px;
  }

  // btns
  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__btn {
    color: rgba(248, 248, 248, 0.6);
    text-align: center;
    background-color: transparent;
    font-weight: 700;
    line-height: normal;
    flex-basis: 50%;
    transition: left 200ms linear;

    &_csgo {
      &.csgo-active {
        color: $basic-yellow;
      }
    }
    &_dota {
      &.dota-active {
        color: $basic-yellow;
      }
    }
  }

  &__btns-track {
    position: relative;
    border-radius: 4px;
    background: rgba(196, 196, 196, 0.1);
    height: 4px;
    margin-bottom: 19px;
  }

  &__btns-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 4px;
    background-color: $basic-yellow;
    transition: left 200ms linear;

    &_active {
      left: 50%;
    }
  }

  // title
  &__title {
    color: $light-gray-text;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 17px;
  }

  // leaderboard-list-top
  &__list {
    max-height: 533px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    counter-reset: item-counter; /* Ініціалізація лічильника */

    .list-top {
      &__item {
        counter-increment: item-counter; /* Збільшення лічильника */
        @include flex-align-row;
        column-gap: 11px;

        &-num {
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          line-height: normal;
          background: linear-gradient(180deg, #fff 0%, #ffe06b 42.71%, #d2d2d2 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-right: 9px;

          &::before {
            content: counter(item-counter); /* Виведення значення лічильника */
          }
        }
      }

      &__svg {
        width: 21px;
        height: 14px;
      }

      &__score {
        margin-left: auto;
        padding-right: 24px;
        color: $basic-yellow;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  // -------cards-------
  &__cards {
    overflow-y: auto;
    max-height: 653px;
    // direction: rtl;

    &-list {
      display: grid;
      row-gap: 28px;
      // direction: ltr;
    }

    &-item {
      display: flex;
      background: rgba(248, 248, 248, 0.05);
    }

    &-img {
      width: 248px;
      height: auto;
      object-fit: cover;
    }

    // info
    &-info {
      padding: 12px 44px 14px 31px;
    }

    &-title {
      color: $basic-yellow;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 10px;
    }

    &-description {
      color: $light-gray-text;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 30px;
    }

    &-stats {
      @include flex-align-row;
      justify-content: space-between;

      &-date {
        color: $light-gray-text;
        font-weight: 500;
        line-height: normal;
      }
    }

    &-stat {
      @include flex-align-row;
      column-gap: 25px;

      &-like,
      &-views {
        @include flex-align-row;
        color: $light-text;

        & > svg {
          margin-right: 3px;
          width: 20px;
          height: 20px;
          fill: $light-text;
          cursor: pointer;
        }
      }
    }
  }
}
