.main {
  &__title {
    text-align: center;
    font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
    font-weight: 400;
    line-height: 75%;
    margin-bottom: 51px;

    @media (min-width: 1440px) {
      margin-bottom: 68px;
    }

    &-forum {
      margin-bottom: clamp(4.063rem, 3.75rem + 1.56vw, 5.625rem);
      @media (min-width: 1920px) {
        margin-bottom: 78px;
      }
    }
  }

  &__stock-swiper-wrapper,
  &__seasonal-swiper-wrapper,
  &__present-swiper-wrapper {
    position: relative;
    // margin-bottom: clamp(3.625rem, 2.763rem + 4.31vw, 7.938rem);
    margin-bottom: 131px;
  }

  //--slide-forum---

  &__slide-forum {
    background-image: linear-gradient(to bottom, #ffffff00 28%, #956d84 28%);

    &-picture {
      display: block;

      &-wrapper {
        padding: 0px clamp(0.938rem, 0.825rem + 0.56vw, 1.5rem);
      }
    }

    &-img {
      height: auto;
      object-fit: cover;
      object-position: center;

      &-wrapper {
        position: relative;
      }

      &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(211, 211, 211, 0.034);
      }
    }

    &-text {
      color: var(--white-base-color);
      padding: 7px clamp(0.688rem, 0.65rem + 0.19vw, 0.875rem) 9px;

      @media (min-width: 1920px) {
        padding: 26px 17px 30px;
      }
    }

    &-title {
      font-size: clamp(0.875rem, 0.75rem + 0.63vw, 1.5rem);
      font-weight: 400;
      line-height: 128%;
      margin-bottom: 5px;

      @media (min-width: 1920px) {
        line-height: 104%;
        margin-bottom: 25px;
      }
    }

    &-description {
      font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
      font-weight: 400;
      line-height: 125%;
      padding-right: 10px;
    }
  }
}

.slide-stock {
  border: 1px solid #956d847a;
  background: var(--ffffff, #fff);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);

  &__content-top {
    position: relative;
    background: #fbf9fa;
    padding: 19px 14px 4px;

    @media (min-width: 1440px) {
      padding: 24px 35px 13px;
    }

    &-img {
      aspect-ratio: 1 / 1;
      object-fit: contain;
      object-position: center;
      margin: 0 auto;
      pointer-events: none;

      height: auto;
    }

    &-logo {
      position: absolute;
      content: '';
      width: 35px;
      height: 35px;
      background-color: rgba(157, 117, 140, 0.39);
      border-radius: 50%;
      bottom: 6px;
      right: 3px;
      @include flex-align-row;
      justify-content: center;
      color: var(--gray-base-color);
      font-family: 'AguafinaScript';
      font-size: 12px;
      font-weight: 400;
      line-height: 180%;

      @media (min-width: 1440px) {
        font-size: 16px;
        width: 56px;
        height: 56px;
        bottom: 27px;
        right: 12px;
      }
    }

    &-discount {
      position: absolute;
      content: '';
      width: 32px;
      height: 31px;
      top: 5px;
      left: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px dashed #e72222;
      border-radius: 50%;
      color: #000;
      font-family: 'Acme';
      font-size: 10px;
      font-weight: 400;
      line-height: 180%;

      @media (min-width: 1440px) {
        width: 56px;
        height: 56px;
        left: 20px;
        border: 2px dashed #e72222;
        font-size: 16px;
      }
    }

    &-favorite {
      position: absolute;
      content: '';
      top: 11px;
      right: 6px;
      width: 14px;
      height: 12px;
      fill: #fbfbfb00;
      stroke: #956d84;
      stroke-width: 2;

      &_active {
        fill: #956d84;
      }

      @media (min-width: 1440px) {
        width: 38px;
        height: 30px;
        top: 32px;
        right: 21px;
        cursor: pointer;
      }
    }
  }

  // --content-bottom----

  &__content-bottom {
    padding: 6px 6px 10px;

    @media (min-width: 1440px) {
      padding: 14px 25px 19px;
    }

    &-rating-list {
      @include flex-align-row;
      transition: all 250ms linear;
      margin-bottom: 6px;

      @media (min-width: 1440px) {
        margin-bottom: 20px;
      }

      & > li {
        @include flex-align-row;
      }

      &:hover > li > svg {
        fill: #ffffff;
        stroke: #f8e582;
      }

      & > li > svg {
        fill: #f8e582;
        stroke: #f8e582;
        cursor: pointer;
        transition: all 250ms linear;
        height: 9px;
        width: 6px;

        @media (min-width: 768px) {
          width: 15px;
          height: 12px;
        }

        &:hover {
          fill: #f8e582;
          stroke: #f8e582;
        }
      }
    }

    &-title {
      font-size: 12px;
      font-weight: 500;
      line-height: 150%;
      margin-bottom: 13px;
      cursor: pointer;

      @media (max-width: 767px) {
        text-align: center;
      }

      // white-space: nowrap;

      @media (min-width: 1440px) {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        // white-space: wrap;
        width: 120px;
        margin-bottom: 0px;
      }

      & > span {
        font-weight: 700;
      }
    }

    &-price {
      &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;

        @media (min-width: 1440px) {
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 35px;
        }
      }

      &-old {
        color: var(--Gray-4, #bdbdbd);
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        text-decoration: line-through;

        @media (min-width: 1440px) {
          font-size: 18px;
          line-height: 100%;
          text-decoration-line: strikethrough;
          margin-bottom: 5px;
        }

        & > span {
          font-weight: 600;
        }
      }

      &-new {
        color: var(--gray-base-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 128%;

        @media (min-width: 1440px) {
          font-size: 18px;
          line-height: 100%;
        }
      }
    }

    // --buy----

    &-buy {
      @include flex-align-row;
      justify-content: space-between;
      padding: 0px 5px;

      @media (min-width: 1440px) {
        flex-direction: column;
        row-gap: 15px;
      }

      &-link {
        color: var(--gray-base-secondary-color);
        font-size: 10px;
        font-weight: 400;
        line-height: 180%;
        text-decoration: underline;

        &_mob {
          @media (min-width: 1440px) {
            display: none;
          }
        }

        &_desc {
          display: none;

          @media (min-width: 1440px) {
            display: block;
            font-size: 16px;
          }
        }

        @media (min-width: 1440px) {
          order: 2;
        }
      }

      &-btn {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        background: #956d84;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
        padding: 7px;
        @include flex-align-row;
        justify-content: center;

        @media (min-width: 1440px) {
          border-radius: 7px;
          padding: 22px 75px;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0px;
          left: 5px;
          width: 100%;
          height: 100%;
          background-image: url(../../../assets/img/pages/main/stock/branch.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          z-index: 1;

          @media (min-width: 1440px) {
            top: -34px;
            left: 127px;
            width: 82px;
            height: 113px;
            transform: rotate(75deg);
          }
        }

        & > span {
          display: none;

          @media (min-width: 1440px) {
            display: block;
            color: var(--white-base-color);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 112.5%;
          }
        }

        & > svg {
          width: 21px;
          height: 21px;
          fill: #fff;

          @media (min-width: 1440px) {
            display: none;
          }
        }
      }
    }
  }
}

//  слайдер-акції--
.swiper .stock-swiper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.stock-swiper .swiper-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.stock-swiper .swiper-slide {
  width: clamp(8.75rem, 6.25rem + 12.5vw, 21.25rem);
}

.stock-swiper .swiper-pagination {
  @media (min-width: 1024px) {
    display: none;
  }
}
.stock-swiper .swiper-pagination-bullet {
  background: var(--gray-base-color) !important;
}
.stock-swiper .swiper-pagination-bullet-active {
  background: var(--gray-base-color) !important;
}
.stock-swiper .swiper-pagination-bullet-active::after {
  border: 1px solid var(--gray-base-color);
}

//

.stock__swiper-btns {
  display: none;

  @media (min-width: 1024px) {
    cursor: pointer;
    display: inline-flex;
    column-gap: 35px;
    position: absolute;
    z-index: 20;
    top: -60px;
    right: 0;

    & svg {
      fill: var(--gray-base-color);
      width: 14px;
      height: 30px;
    }
  }

  @media (min-width: 1440px) {
    top: -90px;
  }
}
//--/-слайдер-акції--

//  слайдер-сезонні--
.swiper .seasona-swiper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.seasona-swiper .swiper-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.seasona-swiper .swiper-slide {
  width: clamp(8.75rem, 6.25rem + 12.5vw, 21.25rem);
  display: flex;
  flex-direction: column;
}

.seasona-swiper .swiper-pagination {
  @media (min-width: 1024px) {
    display: none;
  }
}
.seasona-swiper .swiper-pagination-bullet {
  background: var(--gray-base-color) !important;
}
.seasona-swiper .swiper-pagination-bullet-active {
  background: var(--gray-base-color) !important;
}
.seasona-swiper .swiper-pagination-bullet-active::after {
  border: 1px solid var(--gray-base-color);
}

//

.seasonal__swiper-btns {
  display: none;

  @media (min-width: 1024px) {
    cursor: pointer;
    display: inline-flex;
    column-gap: 35px;
    position: absolute;
    z-index: 20;
    top: -60px;
    right: 0;

    & svg {
      fill: var(--gray-base-color);
      width: 14px;
      height: 30px;
    }
  }

  @media (min-width: 1440px) {
    top: -90px;
  }
}

//  слайдер-подарунки--
.swiper .present-swiper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.present-swiper .swiper-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.present-swiper .swiper-slide {
  width: clamp(8.75rem, 6.25rem + 12.5vw, 21.25rem);
  display: flex;
  flex-direction: column;
}

.present-swiper .swiper-pagination {
  @media (min-width: 1024px) {
    display: none;
  }
}

.present-swiper .swiper-pagination-bullet {
  background: var(--gray-base-color) !important;
}
.present-swiper .swiper-pagination-bullet-active {
  background: var(--gray-base-color) !important;
}
.present-swiper .swiper-pagination-bullet-active::after {
  border: 1px solid var(--gray-base-color);
}

//

.present__swiper-btns {
  display: none;

  @media (min-width: 1024px) {
    cursor: pointer;
    display: inline-flex;
    column-gap: 35px;
    position: absolute;
    z-index: 20;
    top: -60px;
    right: 0;

    & svg {
      fill: var(--gray-base-color);
      width: 14px;
      height: 30px;
    }
  }

  @media (min-width: 1440px) {
    top: -90px;
  }
}

// ------forum-swiper---------

.forum-swiper .swiper-wrapper {
  margin-bottom: 40px;
}

.forum-swiper .swiper-slide {
  max-width: 460px !important;
}

.forum-swiper .swiper-pagination {
  @media (min-width: 1440px) {
    display: none;
  }
}
.forum-swiper .swiper-pagination-bullet {
  background: var(--gray-base-color) !important;
}
.forum-swiper .swiper-pagination-bullet-active {
  background: var(--gray-base-color) !important;
}
.forum-swiper .swiper-pagination-bullet-active::after {
  border: 1px solid var(--gray-base-color);
}
