.explore {
  padding-top: 60px;
  padding-bottom: 150px;
  overflow: hidden;
  background-color: var(--black-background-color);
  display: grid;
  row-gap: 36px;

  @media (min-width: 768px) {
    row-gap: 100px;
  }

  @media (min-width: 1440px) {
    row-gap: 250px;
    background-image: url(../assets/img/explore/ellipse.webp);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-bottom: 60px;
  }
  @media (min-width: 1920px) {
    padding-top: 240px;
    padding-bottom: 142px;
    row-gap: 259px;
  }
}

.explore__content-top {
  @media (max-width: 1439px) {
    position: relative;
    padding-top: 53px;
    padding-left: 18px;
    padding-right: 16px;
    border-radius: 1px;
    background: linear-gradient(0deg, rgba(58, 78, 255, 0) 0%, rgba(156, 58, 255, 0.14) 100%),
      url(../assets/img/game/bg/line-bg.webp), url(../assets/img/our-resources/ellipse-lg.webp);
    background-repeat: no-repeat, repeat-x;
    background-position: 50% 50%, 0 0;
    background-size: 100% 100%, auto;
    backdrop-filter: blur(15px);

    @media (min-width: 768px) {
      background-position: 50% 50%, 0 40%;
      padding-bottom: 53px;
      display: flex;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 6px;
      border-radius: 5px;
      background: #7f5cff;
      box-shadow: 0px 4px 13px 0px rgba(191, 58, 255, 0.44);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 57%;
      right: 9%;
      width: 46px;
      height: 46px;
      background-image: url(../assets/img/bg-decorate/star-lg.svg);
      background-repeat: no-repeat;

      @media (min-width: 768px) {
        bottom: 20%;
        right: 55%;
      }
    }
  }

  @media (min-width: 1440px) {
    display: flex;
    align-items: center;
  }

  &-desc {
    @media (min-width: 1440px) {
      position: relative;
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      border-radius: 1px;
      backdrop-filter: blur(15px);
      background-image: linear-gradient(
          -90deg,
          rgba(58, 78, 255, 0) 0%,
          rgba(156, 58, 255, 0.14) 100%
        ),
        url(../assets/img/bg-decorate/Vector-line.svg);
      background-repeat: repeat-y;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        border-radius: 5px;
        background: #7f5cff;
        box-shadow: 0px 4px 13px 0px rgba(191, 58, 255, 0.44);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 57%;
        right: 10%;
        width: 46px;
        height: 46px;
        background-image: url(../assets/img/bg-decorate/star-lg.svg);
        background-repeat: no-repeat;

        @media (min-width: 768px) {
          bottom: 11%;
          right: 55%;
        }
        @media (min-width: 1920px) {
          bottom: -5%;
          right: 56%;
        }
      }
    }

    @media (min-width: 1920px) {
      padding-top: 93px;
      padding-left: 86px;
      padding-right: 100px;
      padding-bottom: 169px;
      margin-bottom: -94px;
      display: grid;
      grid-template-columns: 407px 379px;
      column-gap: 86px;
    }
  }

  &-title {
    font-size: 28px;
    line-height: 109%;
    text-transform: uppercase;
    margin-bottom: 29px;

    @media (min-width: 1920px) {
      font-size: 45px;
      margin-bottom: 28px;
    }
  }

  &-text {
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;

    &:nth-child(2) {
      margin-bottom: 18px;
      @media (min-width: 1920px) {
        margin-bottom: 0px;
      }
    }
    &:nth-child(3) {
      margin-bottom: 32px;
    }

    @media (min-width: 1920px) {
      font-size: 20px;
      width: 397px;
    }
  }

  &-btn {
    display: inline-block;
    min-width: 176px;
    padding: 16px 24px;
    border-radius: 6px;
    background: var(--1, linear-gradient(99deg, #7a42f4 0%, #4642f4 100%), #fff);
    font-family: var(--secondary-font);
    font-size: 18px;
    text-align: center;
    line-height: 145%;
    margin-top: 15px;
    margin-bottom: 20px;

    @media (min-width: 1440px) {
      margin-bottom: 0;
    }

    @media (min-width: 1920px) {
      position: absolute;
      bottom: 26%;
      left: 85px;
    }
  }
}

.explore__content-top-img {
  margin: 0 auto;
  width: 326px;
  height: 100%;
  aspect-ratio: 2/3;

  @media (min-width: 768px) {
    width: 250px;
  }

  @media (min-width: 1440px) {
    width: 400px;
  }

  @media (min-width: 1920px) {
    width: 569px;
    height: 796.16px;
  }
}

// ---explore__bottom-----

.explore__bottom {
  position: relative;
  margin-top: 100px;
  @media (min-width: 1440px) {
    display: flex;
    align-items: center;
  }

  &-img {
    height: 350px;
    width: 550px;
    margin-left: -215px;

    @media (min-width: 768px) {
      margin-left: -40px;
    }

    @media (min-width: 1440px) {
      width: 1091px;
      height: 610px;
      position: absolute;
      bottom: -5px;
      left: 0;
      margin-left: 0px;
    }

    @media (min-width: 1920px) {
      bottom: -150px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: -44px;
    right: 28%;
    width: 46px;
    height: 46px;
    background-image: url(../assets/img/bg-decorate/star-lg.svg);
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      top: -15px;
      right: 40%;
    }
    @media (min-width: 1440px) {
      top: 96%;
      right: 30%;
    }
  }
}

.explore__container-bottom {
  width: 100%;

  @media (min-width: 1920px) {
    max-width: 1675px;
  }
}

.explore__content-bottom {
  transform: rotate(180deg);
  position: relative;
  margin-top: -172px;
  border-radius: 1px;
  background: linear-gradient(180deg, rgba(58, 78, 255, 0) 0%, rgba(156, 58, 255, 0.14) 100%),
    url(../assets/img/game/bg/line-bg.webp);
  background-repeat: repeat-x;
  background-position: 0 50%;
  backdrop-filter: blur(15px);

  @media (min-width: 768px) {
    margin-top: -130px;
  }

  @media (min-width: 1440px) {
    background: linear-gradient(-90deg, rgba(58, 78, 255, 0) 0%, rgba(156, 58, 255, 0.14) 100%),
      url(../assets/img/bg-decorate/Vector-line.svg);
    background-repeat: repeat-y;
    max-width: 1130px;
    margin-left: auto;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #7f5cff;
    box-shadow: 0px 4px 13px 0px rgba(191, 58, 255, 0.44);

    @media (min-width: 1440px) {
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
    }
  }

  &-desc {
    transform: rotate(180deg);
    padding-top: 70px;
    padding-left: 27px;
    padding-right: 16px;
    padding-bottom: 85px;

    @media (min-width: 1440px) {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 50px;

      padding-top: 80px;
      padding-left: 100px;
      padding-right: 68px;
      padding-bottom: 139px;
    }

    @media (min-width: 1920px) {
      padding-left: 125px;
    }
  }

  &-title {
    font-size: 28px;
    line-height: 142.5%;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media (min-width: 1440px) {
      width: 397px;
      font-size: 45px;
      margin-bottom: 8px;
    }
  }

  &-text {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 24px;

    @media (min-width: 1440px) {
      width: 470px;
      flex-shrink: 0;
      margin-bottom: -70px;
      margin-left: 5px;
    }
  }

  &-btn {
    display: inline-block;
    min-width: 176px;
    padding: 16px 24px;
    border-radius: 6px;
    background: var(--1, linear-gradient(99deg, #7a42f4 0%, #4642f4 100%), #fff);
    font-family: var(--secondary-font);
    font-size: 18px;
    text-align: center;
    line-height: 145%;

    @media (min-width: 1440px) {
      position: absolute;
      bottom: 55px;
      left: 100px;
    }

    @media (min-width: 1920px) {
      left: 130px;
    }
  }
}
