.game {
  position: relative;
  padding-top: 182px;
  padding-bottom: 138px;
  background: #000;
  background-image: url(../assets/img/game/bg/bg-mob.webp);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;

  @media (min-width: 768px) {
    background: url(../assets/img/game/bg/game-bg.webp);
    background-position: 100% 100%;
    background-size: cover;
  }

  @media (min-width: 1440px) {
    &::after {
      content: '';
      position: absolute;
      top: 10%;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../../assets/img/game/bg/ellipse-right.webp);
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-width: 1920px) {
        width: 450px;
        height: 450px;
        top: 15%;
        right: -90px;
      }
    }
  }

  @media (min-width: 1920px) {
    padding-top: 320px;
    padding-bottom: 95px;
  }
}

.game__container {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 1920px) {
    align-items: stretch;
  }
}

// --game__content---

.game__content {
  order: 2;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(58, 78, 255, 0) 0%, rgba(156, 58, 255, 0.031) 100%),
    url(../assets/img/game/bg/line-bg.webp);
  background-size: 107px 180%;
  background-repeat: repeat-x;
  backdrop-filter: blur(15px);
  padding-top: 40px;
  padding-bottom: 200px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #56ffeb;
    box-shadow: 0px 4px 13px 0px rgba(191, 58, 255, 0.44);
  }

  &-title {
    font-size: 28px;
    line-height: 109%;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (min-width: 1920px) {
      font-size: 45px;
      margin-bottom: 27px;
    }
  }

  &-text {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 32px;

    &_top {
      margin-bottom: 28px;
    }

    @media (min-width: 1920px) {
      font-size: 20px;
      margin-bottom: 33px;
    }
  }

  &-btn {
    display: inline-block;
    width: 176px;
    padding: 16px 24px;
    border-radius: 5px;
    background: #7a42f4;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 145%;
    text-align: center;
    transition: all 0.3s ease-in-out;

    @media (min-width: 768px) and (max-width: 1439px) {
      width: auto;
      padding: 10px 24px;
    }

    @media (min-width: 1920px) {
      margin-top: 15px;
    }
  }

  @media (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: 1440px) {
    padding: 38px 10px 30px 10px;
    width: 544px;
    height: 100%;
    flex-shrink: 0;
    background-size: 107px 200%;
  }
  @media (min-width: 1920px) {
    padding: 72px 27px 165px 36px;
    width: 644px;
    margin-right: -115px;

    &::after {
      content: '';
      position: absolute;
      top: 12%;
      right: -96%;
      width: 100%;
      height: 100%;

      background-image: url(../assets/img/bg-decorate/star-lg.svg);
      background-repeat: no-repeat;
    }
  }
}

// ----img----

.game__picture-guy {
  order: 3;
  @media (max-width: 767px) {
    position: relative;
  }
}

.game__picture-girl {
  order: 1;
  @media (max-width: 767px) {
    position: absolute;
    bottom: 14%;
    left: 33%;
  }

  @media (min-width: 375px) {
    bottom: 13%;
    left: 43%;
  }
  @media (min-width: 1920px) {
    margin-bottom: 38px;
    margin-left: 12px;
    align-self: flex-end;
  }
}

.game__img-guy {
  width: 291px;
  height: 379px;

  @media (max-width: 767px) {
    margin-left: -61px;
    margin-top: -80px;
  }

  @media (min-width: 768px) {
    width: 200px;
    height: auto;
  }

  @media (min-width: 1440px) {
    width: 260px;
  }

  @media (min-width: 1920px) {
    width: 494px;
    height: 642px;
  }
}
.game__img-girl {
  width: 213px;
  height: 315px;

  @media (min-width: 768px) {
    width: 170px;
    height: auto;
  }

  @media (min-width: 1440px) {
    width: 230px;
  }

  @media (min-width: 1920px) {
    width: 379px;
    height: 562px;
  }
}

// ---game-running-line----
