.social-media {
  position: relative;
  background-color: var(--black-background-color);
  padding-top: 50px;
  padding-bottom: 217px;
  background-image: url(../assets/img/social-media/bg.webp),
    url(../assets/img/social-media/bg-blur-sm-2.webp),
    url(../assets/img/social-media/bg-blur-left-sm.webp);
  background-position: 0 0, 0 50%, 0 100%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 767px) {
    ::-webkit-scrollbar {
      width: 0px;
    }
  }

  @media (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 310px;
  }

  @media (min-width: 1440px) {
    padding-top: 107px;
    padding-bottom: 467px;
    background-image: url(../assets/img/social-media/bg.webp),
      url(../assets/img/social-media/bg-blur-left-lg.webp),
      url(../assets/img/social-media/bg-blur-center-lg.webp);
    background-position: 0 0, 0 100%, 50% 20%;
    background-repeat: no-repeat;
    background-size: cover, contain, 1200px 800px;

    &::before {
      content: '';
      position: absolute;
      top: -20%;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../assets/img/social-media/bg-blur-right-lg.webp);
      background-position: right;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  @media (max-width: 1439px) {
    &::before {
      content: '';
      position: absolute;
      top: -260px;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../assets/img/social-media/bg-blur-sm.webp);
      background-position: right;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  &__img {
    height: 285px;
    width: 203px;

    @media (min-width: 768px) {
      width: 170px;
    }
    @media (min-width: 1440px) {
      width: 280px;
      height: 384px;
    }
  }
}

.social-media__list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  @media (max-width: 767px) {
    position: relative;
    top: 0;
    left: 0%;
    width: 100vw;
  }
  @media (min-width: 1440px) {
    margin-top: 87px;
  }

  &-item {
    cursor: pointer;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    transition: all 0.3s ease-in-out;
    &:last-child {
      background-image: url(../assets/img/bg-decorate/star-lg.svg);
      background-repeat: no-repeat;
      background-position: 70px 0;
    }
    @media (max-width: 767px) {
      &:first-child {
        margin-left: 26px;
      }
      &:last-child {
        margin-right: 26px;
      }
    }

    @media (min-width: 1440px) {
      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 2px 20px rgb(160, 0, 210));
      }
    }
  }

  @media (min-width: 768px) {
    overflow-x: visible;
    justify-content: center;
  }
}
