.cabinet {
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: calc(100vh - 180px);
  background: url(../../../assets/img/pages/cabinet/stage/cabinet-bg-img.webp);
  background-repeat: repeat-x;
  background-position: 0 -18px;
  opacity: 0;

  &_visible {
    opacity: 1;
  }

  &__container {
    max-width: 1635px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__content {
    display: grid;
    grid-template-columns: 265px 1fr;
    column-gap: 33px;

    @include media-min-width(xl) {
      grid-template-columns: 215px 1fr;
    }
  }

  &__sidebar {
    display: flex;
    column-gap: 15px;
    align-self: start;
  }

  // navigation
  // track
  &__nav-track {
    position: relative;
    width: 4px;
    min-height: 100%;
    border-radius: 4px;
    background: rgba(196, 196, 196, 0.1);
    order: 2;
  }
  &__nav-thumb {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 16%;
    border-radius: 4px;
    background-color: $basic-yellow;
    transition: top 200ms linear;
  }

  // --list
  &__nav-list {
    padding: 19px 0;
    display: inline-flex;
    flex-direction: column;
    row-gap: 34px;
    align-items: flex-end;

    @media (max-width: 1919px) {
      padding-left: 50px;
    }
  }

  &__nav-item {
    @include flex-align-row;
    column-gap: 18px;
    cursor: pointer;

    &-text {
      color: rgba(248, 248, 248, 0.6);
      font-size: 20px;
      line-height: normal;
      white-space: nowrap;
      transition: left 200ms linear;
    }

    &-icon {
      width: 24px;
      height: 24px;
      fill: rgba(248, 248, 248, 0.6);
      transition: left 200ms linear;
    }

    &:hover {
      & > .cabinet__nav-item-text {
        color: $basic-yellow;
      }
      & > .cabinet__nav-item-icon {
        fill: $basic-yellow;
      }
    }

    &_active {
      & > .cabinet__nav-item-text {
        color: $basic-yellow;
      }
      & > .cabinet__nav-item-icon {
        fill: $basic-yellow;
      }
    }
  }
}
// ====main=========
.cabinet-main {
  padding-right: 128px;
  // background: rgba(248, 248, 248, 0.05);
  // backdrop-filter: blur(60px);

  @media (min-width: 1440px) {
    ::-webkit-scrollbar {
      width: 1px;
    }

    ::-webkit-scrollbar-track {
      background: rgba(196, 196, 196, 0);
    }

    ::-webkit-scrollbar-thumb {
      background: $basic-yellow;
      border-radius: 4px;
    }
  }
}

// cabinet-statistics----
.cabinet-statistics {
  &__btns {
    margin-bottom: 29px;

    &-box {
      @include flex-align-row;
      margin-bottom: 5px;
      padding-top: 18px;
    }
  }

  &__btn {
    flex-basis: 50%;
    background-color: transparent;
    color: rgba(248, 248, 248, 0.6);
    text-align: center;
    font-family: $font-tertiary;
    font-weight: 700;
    line-height: normal;

    &_active {
      color: $basic-yellow;
    }
  }

  // btns-track
  &__btns-track {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: rgba(196, 196, 196, 0.1);
  }

  &__btns-thumb {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-radius: 4px;
    background-color: $basic-yellow;
    transition: left 200ms linear;

    &_active {
      left: 0%;
    }
  }

  &__rank {
    margin-bottom: 29px;
    background: rgba(248, 248, 248, 0.05);
    backdrop-filter: blur(60px);
    @include flex-align-row;
    column-gap: 20px;

    padding: 28px 51px 32px 63px;

    &-title {
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
      @include flex-align-row;
      column-gap: 5px;

      &-icon {
        width: 65px;
        height: 30px;
        flex-shrink: 0;
        margin-left: 12px;
      }
    }

    // list
    &-list {
      margin-left: auto;
      @include flex-align-row;
      column-gap: 20px;
    }

    &-item {
      @include flex-align-row;
      column-gap: 10px;
      padding: 11px 29px;
      border-radius: 4px;
      background: rgba(248, 248, 248, 0.1);
      backdrop-filter: blur(5px);

      &-text {
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
      }

      &-value {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
      }

      // icon
      &-icon {
        width: 26px;
        height: 26px;
        flex-shrink: 0;

        &_tournaments {
          fill: $basic-yellow;
        }
        &_statistics {
          fill: #ae27ee;
        }
        &_clock {
          fill: #4cbf39;
        }
      }
    }
  }

  // game style
  &__game-style {
    background: rgba(248, 248, 248, 0.05);
    backdrop-filter: blur(60px);
    min-width: 935px;
    max-width: 1227px;
    display: grid;
    grid-template-columns: 173px 1fr;

    column-gap: 82px;
    padding: 40px 50px 33px 63px;

    & .game-style {
      &__title {
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 23px;
      }

      // list
      &__list {
        display: flex;
        flex-direction: column;
        row-gap: 45px;
      }

      &__inner-list {
        display: flex;
        flex-direction: column;
        row-gap: 3px;

        &-item {
          @include flex-align-row;
          justify-content: space-between;
          column-gap: 20px;

          &-text {
            color: $light-gray-text;
            line-height: normal;
            white-space: nowrap;
          }
          &-score {
            color: $basic-yellow;
            line-height: normal;
          }
        }
      }

      &__chart {
        &-box {
          position: relative;
          margin-top: 30px;

          @media (min-width: 1715px) {
            padding-right: 190px;
          }
          // margin: 0 50px 20px 20px;
        }
        &-title {
          position: absolute;
          font-family: Roboto-Regular;
          color: #989898;
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;

          &_flex {
            top: -32px;
            left: 50%;
            transform: translateX(-50%);

            @media (min-width: 1715px) {
              top: -36px;
              left: 50%;
              transform: translateX(-200%);
            }
          }
          &_farming {
            top: 31%;
            left: -30px;

            @media (min-width: 1715px) {
              left: 12px;
            }
          }
          &_fighting {
            top: 31%;
            right: -20px;

            @media (min-width: 1715px) {
              right: 211px;
            }
          }
          &_support {
            bottom: 41px;
            left: 30px;

            @media (min-width: 1715px) {
              bottom: 13px;
              left: 99px;
            }
          }
          &_pushing {
            bottom: 41px;
            right: 55px;

            @media (min-width: 1715px) {
              bottom: 13px;
              right: 310px;
            }
          }
        }

        &-img {
          aspect-ratio: 1/1;
          object-fit: contain;
        }
      }
    }
  }
}
// bar-chart
.game-style__bar-chart .bar-chart {
  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 23px;
  }

  &__list-bg {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 53px;
    margin-bottom: 25px;

    &-item {
      @include flex-align-row;
      justify-content: space-between;
      column-gap: 18px;

      & > .percent {
        color: $basic-white;
        line-height: normal;
      }

      & > .line {
        width: 100%;
        height: 1px;
        background: rgba(248, 248, 248, 0.2);
      }
    }
  }

  // indicators
  &__indicators-box {
    margin: 0 46px;
  }
  // list
  &__indicators-list {
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    background: rgba(248, 248, 248, 0.1);
    padding: 16px 41px;
    margin-bottom: 55px;
    column-gap: 15px;
  }
  &__indicators-item {
    position: relative;
    max-width: 100px;

    & > .performance-indicators-track {
      position: absolute;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      width: 21px;
      height: 306px;
      border-radius: 6px 6px 0px 0px;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 99%;
        background: linear-gradient(
          0deg,
          rgba(248, 248, 248, 0.2) 0%,
          rgba(248, 248, 248, 0) 96.55%
        );
      }

      & > .performance-indicators-track-thumb {
        border-radius: 6px 6px 0px 0px;
        background: linear-gradient(180deg, #fac704 0%, rgba(196, 196, 196, 0) 100%);
        position: absolute;
        width: 100%;
        bottom: 0;

        &_precision {
          height: 95%;
        }
        &_hitting-head {
          height: 51%;
        }
        &_vitality {
          height: 80%;
        }
        &_play-time {
          height: 65%;
        }
        &_weapon-efficiency {
          height: 45%;
        }
        &_assists {
          height: 35%;
        }
      }
    }

    &-text {
      text-align: center;
      color: $basic-white;
      font-size: 15px;
      line-height: normal;
    }
  }
}

// ---/-cabinet-statistics----

// History of matches---
.cabinet-history {
  background: rgba(248, 248, 248, 0.05);
  backdrop-filter: blur(60px);
  padding: 29px 88px 32px 59px;
  min-height: 352px;
  transition: all 200ms ease-in-out;

  &__title-box {
    @include flex-align-row;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__title {
    font-family: Roboto-Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }

  // drop-down
  &__drop-down {
    @include flex-align-row;
    column-gap: 7px;

    &-title {
      color: $gray-text;
      line-height: normal;
    }
  }

  //drop-down-item-title-box
  &__drop-down-item {
    position: relative;

    &-title-box {
      @include flex-align-row;
      cursor: pointer;
    }

    &-title {
      font-size: 18px;
      line-height: normal;
    }

    &-icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      fill: $light-text;
      transition: all 150ms linear;

      &_active {
        transform: rotate(-180deg);
      }
    }
  }

  &__drop-down-inner-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #1d1d21;
    z-index: 1;
    border: 1px solid #fac704;
    transition: all 150ms linear;
    border-radius: 4px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &_active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__drop-down-inner-item {
    cursor: pointer;

    &-text {
      font-weight: 500;
      line-height: normal;
      padding: 15px 10px;
      white-space: nowrap;
      transition: all 200ms linear;

      &:hover {
        background-color: #fac9042e;
      }
    }
  }

  // cabinet-history__list
  &__list {
    max-height: 620px;
    overflow-y: auto;
    &-item {
      padding: 17px 0px;
      border-top: 1px solid #3f3d46;
      display: grid;
      grid-template-columns: 8% 50% auto;
      column-gap: 50px;

      @include media-min-width(xl) {
        grid-template-columns: 14% 50% auto;
      }

      &-title {
        font-family: Roboto-Regular;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap;
      }

      // medium-content
      & > .medium-content {
        @include flex-align-row;
        justify-content: space-between;
        column-gap: 50px;
        margin: 0 auto;
      }

      &-date {
        &-box {
          display: flex;
          justify-content: space-between;
          column-gap: 23px;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: normal;
        }
      }

      &-regime {
        &-box {
          @include flex-align-row;
          column-gap: 9px;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: normal;
        }
        &-title {
          color: #989898;
        }
      }

      &-id {
        text-decoration: underline;
        cursor: pointer;
        &-box {
          @include flex-align-row;
          column-gap: 11px;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: normal;
        }
        &-title {
          color: #989898;
        }
      }
      // --/-- medium-content

      &-result {
        margin-left: auto;
        @include flex-align-row;
        column-gap: 30px;

        @include media-min-width(xl) {
          column-gap: 52px;
        }

        &-title {
          text-align: right;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: normal;

          &_victory {
            color: #6fff57;
          }

          &_loss {
            color: #f13939;
          }
        }

        &-score {
          white-space: nowrap;
          color: $basic-yellow;
          text-align: right;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: normal;
          min-width: 73px;

          & > .currency {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
