.cabinet {
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: calc(100vh - 180px);
  background: url(../../../assets/img/pages/cabinet/stage/cabinet-bg-img.webp);
  background-repeat: repeat-x;
  background-position: 0 -18px;
  opacity: 0;

  &_visible {
    opacity: 1;
  }

  &__container {
    max-width: 1635px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__content {
    display: grid;
    grid-template-columns: 265px 1fr;
    column-gap: 33px;

    @include media-min-width(xl) {
      grid-template-columns: 215px 1fr;
    }
  }

  &__sidebar {
    display: flex;
    column-gap: 15px;
    align-self: start;
  }

  // navigation
  // track
  &__nav-track {
    position: relative;
    width: 4px;
    min-height: 100%;
    border-radius: 4px;
    background: rgba(196, 196, 196, 0.1);
    order: 2;
  }
  &__nav-thumb {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 16%;
    border-radius: 4px;
    background-color: $basic-yellow;
    transition: top 200ms linear;
  }

  // --list
  &__nav-list {
    padding: 19px 0;
    display: inline-flex;
    flex-direction: column;
    row-gap: 34px;
    align-items: flex-end;

    @media (max-width: 1919px) {
      padding-left: 50px;
    }
  }

  &__nav-item {
    @include flex-align-row;
    column-gap: 18px;
    cursor: pointer;

    &-text {
      color: rgba(248, 248, 248, 0.6);
      font-size: 20px;
      line-height: normal;
      white-space: nowrap;
      transition: left 200ms linear;
    }

    &-icon {
      width: 24px;
      height: 24px;
      fill: rgba(248, 248, 248, 0.6);
      transition: left 200ms linear;
    }

    &:hover {
      & > .cabinet__nav-item-text {
        color: $basic-yellow;
      }
      & > .cabinet__nav-item-icon {
        fill: $basic-yellow;
      }
    }

    &_active {
      & > .cabinet__nav-item-text {
        color: $basic-yellow;
      }
      & > .cabinet__nav-item-icon {
        fill: $basic-yellow;
      }
    }
  }
}
// ====main=========
.cabinet-main {
  padding-right: 128px;

  &__btns {
    margin-bottom: 29px;

    &-box {
      @include flex-align-row;
      margin-bottom: 5px;
      padding-top: 18px;
    }
  }

  &__btn {
    flex-basis: 50%;
    background-color: transparent;
    color: rgba(248, 248, 248, 0.6);
    text-align: center;
    font-family: $font-tertiary;
    font-weight: 700;
    line-height: normal;

    &_active {
      color: $basic-yellow;
    }
  }

  // btns-track
  &__btns-track {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: rgba(196, 196, 196, 0.1);
  }

  &__btns-thumb {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-radius: 4px;
    background-color: $basic-yellow;
    transition: top 200ms linear;
  }

  // rank-box
  &__rank {
    margin-bottom: 29px;
    background: rgba(248, 248, 248, 0.05);
    backdrop-filter: blur(60px);
    @include flex-align-row;
    column-gap: 20px;

    padding: 28px 51px 32px 63px;

    &-title {
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
    }

    // list
    &-list {
      margin-left: auto;
      @include flex-align-row;
      column-gap: 20px;
    }

    &-item {
      @include flex-align-row;
      column-gap: 10px;
      padding: 11px 29px;
      border-radius: 4px;
      background: rgba(248, 248, 248, 0.1);
      backdrop-filter: blur(5px);

      &-text {
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
      }

      &-value {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
      }

      // icon
      &-icon {
        width: 26px;
        height: 26px;
        flex-shrink: 0;

        &_tournaments {
          fill: $basic-yellow;
        }
        &_statistics {
          fill: #ae27ee;
        }
        &_clock {
          fill: #4cbf39;
        }
      }
    }
  }

  // game style

  &__game-style {
    background: rgba(248, 248, 248, 0.05);
    backdrop-filter: blur(60px);
    width: 1227px;
    height: 582px;
    flex-shrink: 0;
  }
}
