.cabinet {
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: calc(100vh - 180px);
  background: url(../../../assets/img/pages/cabinet/stage/cabinet-bg-img.webp);
  background-repeat: repeat-x;
  background-position: 0 -18px;
  opacity: 0;

  &_visible {
    opacity: 1;
  }

  &__container {
    max-width: 1635px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__content {
    display: grid;
    grid-template-columns: 265px 1fr;
    column-gap: 33px;

    @include media-min-width(xl) {
      grid-template-columns: 215px 1fr;
    }
  }

  &__sidebar {
    display: flex;
    column-gap: 15px;
    align-self: start;
  }

  // navigation
  // track
  &__nav-track {
    position: relative;
    width: 4px;
    min-height: 100%;
    border-radius: 4px;
    background: rgba(196, 196, 196, 0.1);
    order: 2;
  }
  &__nav-thumb {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 16%;
    border-radius: 4px;
    background-color: $basic-yellow;
    transition: top 200ms linear;
  }

  // --list
  &__nav-list {
    padding: 19px 0;
    display: inline-flex;
    flex-direction: column;
    row-gap: 34px;
    align-items: flex-end;

    @media (max-width: 1919px) {
      padding-left: 50px;
    }
  }

  &__nav-item {
    @include flex-align-row;
    column-gap: 18px;
    cursor: pointer;

    &-text {
      color: rgba(248, 248, 248, 0.6);
      font-size: 20px;
      line-height: normal;
      white-space: nowrap;
      transition: left 200ms linear;
    }

    &-icon {
      width: 24px;
      height: 24px;
      fill: rgba(248, 248, 248, 0.6);
      transition: left 200ms linear;
    }

    &:hover {
      & > .cabinet__nav-item-text {
        color: $basic-yellow;
      }
      & > .cabinet__nav-item-icon {
        fill: $basic-yellow;
      }
    }

    &_active {
      & > .cabinet__nav-item-text {
        color: $basic-yellow;
      }
      & > .cabinet__nav-item-icon {
        fill: $basic-yellow;
      }

      &.dangerous {
        & > .cabinet__nav-item-text {
          color: #f13939;
        }
        & > .cabinet__nav-item-icon {
          fill: #f13939;
        }
      }
    }
  }
}
// ====main=========
.cabinet-main {
  padding-right: 128px;
  // background: rgba(248, 248, 248, 0.05);
  // backdrop-filter: blur(60px);

  @media (min-width: 1440px) {
    ::-webkit-scrollbar {
      width: 1px;
    }

    ::-webkit-scrollbar-track {
      background: rgba(196, 196, 196, 0);
    }

    ::-webkit-scrollbar-thumb {
      background: $basic-yellow;
      border-radius: 4px;
    }
  }
}

// cabinet-statistics----
.cabinet-statistics {
  &__btns {
    margin-bottom: 29px;

    &-box {
      @include flex-align-row;
      margin-bottom: 5px;
      padding-top: 18px;
    }
  }

  &__btn {
    flex-basis: 50%;
    background-color: transparent;
    color: rgba(248, 248, 248, 0.6);
    text-align: center;
    font-family: $font-tertiary;
    font-weight: 700;
    line-height: normal;

    &_active {
      color: $basic-yellow;
    }
  }

  // btns-track
  &__btns-track {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: rgba(196, 196, 196, 0.1);
  }

  &__btns-thumb {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-radius: 4px;
    background-color: $basic-yellow;
    transition: left 200ms linear;

    &_active {
      left: 0%;
    }
  }

  &__rank {
    margin-bottom: 29px;
    background: rgba(248, 248, 248, 0.05);
    backdrop-filter: blur(60px);
    @include flex-align-row;
    column-gap: 20px;

    padding: 28px 51px 32px 63px;

    &-title {
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
      @include flex-align-row;
      column-gap: 5px;

      &-icon {
        width: 65px;
        height: 30px;
        flex-shrink: 0;
        margin-left: 12px;
      }
    }

    // list
    &-list {
      margin-left: auto;
      @include flex-align-row;
      column-gap: 20px;
    }

    &-item {
      @include flex-align-row;
      column-gap: 10px;
      padding: 11px 29px;
      border-radius: 4px;
      background: rgba(248, 248, 248, 0.1);
      backdrop-filter: blur(5px);

      &-text {
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
      }

      &-value {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
      }

      // icon
      &-icon {
        width: 26px;
        height: 26px;
        flex-shrink: 0;

        &_tournaments {
          fill: $basic-yellow;
        }
        &_statistics {
          fill: #ae27ee;
        }
        &_clock {
          fill: #4cbf39;
        }
      }
    }
  }

  // game style
  &__game-style {
    background: rgba(248, 248, 248, 0.05);
    backdrop-filter: blur(60px);
    min-width: 935px;
    max-width: 1227px;
    display: grid;
    grid-template-columns: 173px 1fr;

    column-gap: 82px;
    padding: 40px 50px 33px 63px;

    & .game-style {
      &__title {
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 23px;
      }

      // list
      &__list {
        display: flex;
        flex-direction: column;
        row-gap: 45px;
      }

      &__inner-list {
        display: flex;
        flex-direction: column;
        row-gap: 3px;

        &-item {
          @include flex-align-row;
          justify-content: space-between;
          column-gap: 20px;

          &-text {
            color: $light-gray-text;
            line-height: normal;
            white-space: nowrap;
          }
          &-score {
            color: $basic-yellow;
            line-height: normal;
          }
        }
      }

      &__chart {
        &-box {
          position: relative;
          margin-top: 30px;
          max-width: 670px;

          @media (min-width: 1715px) {
          }
        }
        &-title {
          position: absolute;
          font-family: Roboto-Regular;
          color: #989898;
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;

          &_flex {
            top: -32px;
            left: 50%;
            transform: translateX(-50%);

            @media (min-width: 1715px) {
              top: -36px;
            }
          }
          &_farming {
            top: 31%;
            left: -30px;

            @media (min-width: 1715px) {
              left: 12px;
            }
          }
          &_fighting {
            top: 31%;
            right: -20px;

            @media (min-width: 1715px) {
              right: 20px;
            }
          }
          &_support {
            bottom: 41px;
            left: 30px;

            @media (min-width: 1715px) {
              bottom: 13px;
              left: 99px;
            }
          }
          &_pushing {
            bottom: 41px;
            right: 55px;

            @media (min-width: 1715px) {
              bottom: 13px;
              right: 120px;
            }
          }
        }

        &-img {
          aspect-ratio: 1/1;
          object-fit: contain;
        }
      }
    }
  }
}
// bar-chart
.game-style__bar-chart .bar-chart {
  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 23px;
  }

  &__list-bg {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 53px;
    margin-bottom: 25px;

    &-item {
      @include flex-align-row;
      justify-content: space-between;
      column-gap: 18px;

      & > .percent {
        color: $basic-white;
        line-height: normal;
      }

      & > .line {
        width: 100%;
        height: 1px;
        background: rgba(248, 248, 248, 0.2);
      }
    }
  }

  // indicators
  &__indicators-box {
    margin: 0 46px;
  }
  // list
  &__indicators-list {
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    background: rgba(248, 248, 248, 0.1);
    padding: 16px 41px;
    margin-bottom: 55px;
    column-gap: 15px;
  }
  &__indicators-item {
    position: relative;
    max-width: 100px;

    & > .performance-indicators-track {
      position: absolute;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      width: 21px;
      height: 306px;
      border-radius: 6px 6px 0px 0px;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 99%;
        background: linear-gradient(
          0deg,
          rgba(248, 248, 248, 0.2) 0%,
          rgba(248, 248, 248, 0) 96.55%
        );
      }

      & > .performance-indicators-track-thumb {
        border-radius: 6px 6px 0px 0px;
        background: linear-gradient(180deg, #fac704 0%, rgba(196, 196, 196, 0) 100%);
        position: absolute;
        width: 100%;
        bottom: 0;

        &_precision {
          height: 95%;
        }
        &_hitting-head {
          height: 51%;
        }
        &_vitality {
          height: 80%;
        }
        &_play-time {
          height: 65%;
        }
        &_weapon-efficiency {
          height: 45%;
        }
        &_assists {
          height: 35%;
        }
      }
    }

    &-text {
      text-align: center;
      color: $basic-white;
      font-size: 15px;
      line-height: normal;
    }
  }
}

// ---/-cabinet-statistics----

// History of matches---
.cabinet-history {
  background: rgba(248, 248, 248, 0.05);
  backdrop-filter: blur(60px);
  padding: 29px 88px 32px 59px;
  min-height: 352px;
  transition: all 200ms ease-in-out;

  &__title-box {
    @include flex-align-row;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__title {
    font-family: Roboto-Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }

  // drop-down
  &__drop-down {
    @include flex-align-row;
    column-gap: 7px;

    &-title {
      color: $gray-text;
      line-height: normal;
    }
  }

  //drop-down-item-title-box
  &__drop-down-item {
    position: relative;

    &-title-box {
      @include flex-align-row;
      cursor: pointer;
    }

    &-title {
      font-size: 18px;
      line-height: normal;
    }

    &-icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      fill: $light-text;
      transition: all 150ms linear;

      &_active {
        transform: rotate(-180deg);
      }
    }
  }

  &__drop-down-inner-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #1d1d21;
    z-index: 1;
    border: 1px solid #fac704;
    transition: all 150ms linear;
    border-radius: 4px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &_active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__drop-down-inner-item {
    cursor: pointer;

    &-text {
      font-weight: 500;
      line-height: normal;
      padding: 15px 10px;
      white-space: nowrap;
      transition: all 200ms linear;

      &:hover {
        background-color: #fac9042e;
      }
    }
  }

  // cabinet-history__list
  &__list {
    max-height: 620px;
    overflow-y: auto;

    &-item {
      padding: 17px 0px;
      border-top: 1px solid #3f3d46;
      display: grid;
      grid-template-columns: 8% 50% auto;
      column-gap: 50px;

      @include media-min-width(xl) {
        grid-template-columns: 14% 50% auto;
      }

      &-title {
        font-family: Roboto-Regular;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap;
      }

      // medium-content
      & > .medium-content {
        @include flex-align-row;
        justify-content: space-between;
        column-gap: 50px;
        margin: 0 auto;
      }

      &-date {
        &-box {
          display: flex;
          justify-content: space-between;
          column-gap: 23px;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: normal;
        }
      }

      &-regime {
        &-box {
          @include flex-align-row;
          column-gap: 9px;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: normal;
        }
        &-title {
          color: #989898;
        }
      }

      &-id {
        text-decoration: underline;
        cursor: pointer;
        &-box {
          @include flex-align-row;
          column-gap: 11px;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: normal;
        }
        &-title {
          color: #989898;
        }
      }
      // --/-- medium-content

      &-result {
        margin-left: auto;
        @include flex-align-row;
        column-gap: 30px;

        @include media-min-width(xl) {
          column-gap: 52px;
        }

        &-title {
          text-align: right;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: normal;

          &_victory {
            color: #6fff57;
          }

          &_loss {
            color: #f13939;
          }
        }

        &-score {
          white-space: nowrap;
          color: $basic-yellow;
          text-align: right;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: normal;
          min-width: 73px;

          & > .currency {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

// personal-data
.cabinet-personal-data {
  font-family: Roboto-Regular;
  font-weight: 400;
  background: rgba(248, 248, 248, 0.05);
  backdrop-filter: blur(60px);
  padding: 29px 84px 50px 59px;

  // ====INFORMATION========
  &__info {
    padding-bottom: 29px;
    border-bottom: 1px solid #3f3d46;

    &-title-box {
      @include flex-align-row;
      column-gap: 20px;
      margin-bottom: 30px;
    }

    &-title {
      font-size: 24px;
      font-weight: 400;
      line-height: normal;
    }

    &-subtitle > a {
      color: $basic-yellow;

      font-weight: 500;
      line-height: normal;
    }
  }

  &__info-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    // list
    &-list {
      margin-top: 9px;
      display: grid;
      row-gap: 27px;
    }

    &-item {
      display: grid;
      grid-template-columns: 136px 470px;
      column-gap: 43px;

      &-title {
        color: #989898;
        line-height: normal;
        white-space: nowrap;
      }

      &-text {
        @include flex-align-row;
        font-size: 18px;

        & > span {
          line-height: normal;
        }
        & > svg {
          width: 18px;
          height: 18px;
          flex-shrink: 0;
          fill: $gray-text;
          margin-left: 11px;
        }

        &_nick {
          & > span {
            font-size: 24px;
          }
        }
        &_bio {
          font-size: 14px;
        }
      }
    }

    // img
    &-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
      aspect-ratio: 1/1;
      margin-bottom: 5px;
    }
  }

  // form
  &__info-body-form {
    @include flex-align-row;
    justify-content: center;

    & .form-label {
      cursor: pointer;
      background-color: transparent;
      color: $basic-yellow;
      text-align: center;
      line-height: normal;

      &-icon {
        width: 30px;
        height: 30px;
        fill: $light-gray-text;
      }

      &-input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
    }
  }

  // ====E-mail address========
  &__mail {
    padding-top: 25px;
    padding-bottom: 32px;
    border-bottom: 1px solid #3f3d46;

    & > .mail-title-box {
      margin-bottom: 20px;
    }

    &-body {
      @include flex-align-row;
      column-gap: 32px;

      &-title {
        color: #989898;
        line-height: normal;
      }

      &-text {
        @include flex-align-row;
        column-gap: 15px;
        font-size: 18px;
        line-height: normal;

        & > svg {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          fill: #6fff57;
        }
      }
    }
  }

  // ====Steam account========

  &__steam {
    padding-top: 25px;

    & > .steam-title-box {
      margin-bottom: 21px;
    }
  }
}

// =====cabinet-wallet========
.cabinet-wallet {
  background-color: rgba(248, 248, 248, 0.05);
  backdrop-filter: blur(60px);
  padding: 15px;
  @include media-min-width(xl) {
    padding: 46px 84px 47px 59px;
  }

  &__content-top {
    display: grid;
    grid-template-columns: minmax(240px, calc(34% - 19px)) minmax(calc(47% - 19px), 1fr);
    column-gap: 38px;
    margin-bottom: 55px;
  }

  // CARD-
  &__card {
    font-family: Roboto-Regular;
    font-weight: 400;
    border-radius: 10px;
    background: #3f3d46;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
    padding: 9px 14px 18px 24px;

    &-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -50px;
      left: -48px;
      pointer-events: none;
    }

    &-img {
      width: 250px;
      height: 312px;
      opacity: 0.1;
    }

    &-logo {
      fill: #aaaaaa;
      display: block;
      margin-left: auto;
      margin-bottom: 14px;
    }

    &-chip {
      width: 54px;
      height: 38px;
      flex-shrink: 0;
      border-radius: 8px;
      border: 1px solid #29292e;
      background: #cbbc8a;
      margin-bottom: 26px;
      padding: 4px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3px;

      & > div {
        border-radius: 8px;
        border: 1px solid #29292e;
      }
    }

    &-personal-data {
      &-id,
      &-name {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #47454c;
        font-size: 24px;
        line-height: normal;
      }
    }
  }

  // subscription-type
  &__subscription-type {
    @include flex-align-row;
    column-gap: 15px;
    margin-bottom: 11px;

    &-title {
      font-size: 28px;
      line-height: normal;
    }

    // list
    &-list-box {
      position: relative;
    }
    &-list-title {
      @include flex-align-row;
      cursor: pointer;

      & > span {
        color: $basic-yellow;
        font-size: 28px;
        line-height: normal;
      }
      & > svg {
        fill: $light-text;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        transform: rotate(-90deg);
      }
    }

    &-list {
      position: absolute;
      top: 45px;
      left: 0;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      position: absolute;
      padding: 0px 0px;
      background-color: #1d1d21;
      z-index: 1;
      border: 1px solid #fac704;
      transition: all 150ms linear;
      border-radius: 4px;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &_active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }

    &-item {
      padding: 15px 15px 15px 10px;
      transition: all 150ms linear;
      cursor: pointer;

      &:hover {
        background-color: rgba(250, 201, 4, 0.337254902);
      }
    }
  }

  &__balance {
    position: relative;

    &-title {
      font-family: Roboto-Regular;
      font-weight: 400;
      font-size: 24px;
      line-height: normal;
    }

    &-amount {
      color: $basic-yellow;
      font-size: 48px;
      font-style: normal;
      font-family: Roboto-Bold;
      font-weight: 700;
      line-height: normal;
      padding-bottom: 92px;

      & > .currency-symbol {
        text-decoration: line-through;
      }
    }

    &-bg {
      position: absolute;
      bottom: 0px;
      right: 0;
      pointer-events: none;

      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  // contrnt medium
  &__content-medium {
    font-family: $font-secondary;
    font-weight: 400;
  }
  &__lists-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 40px;

    @include media-min-width(lg) {
      @include flex-align-row;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 10px;
      margin-bottom: 24px;
    }

    &-transfer {
      &-title {
        font-size: 24px;
        line-height: normal;
        margin-bottom: 12px;
      }
    }

    &-topup {
      &-title {
        font-size: 24px;
        line-height: normal;
        margin-bottom: 12px;
      }
    }
  }

  // list transfer
  &__list-transfer {
    @include flex-align-row;
    column-gap: 10px;
  }

  // items
  &__transfer-item {
    cursor: pointer;
    @include flex-align-column;
    row-gap: 1px;
    border-radius: 8px;
    background: rgba(248, 248, 248, 0.15);
    padding: 10px 5px;
    min-width: 195px;
    width: 100%;
    height: 73px;

    &-title {
      color: #bfbfbf;
      text-align: center;
      line-height: normal;
    }

    &-svg {
      & > svg {
        fill: #bfbfbf;
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
  }

  // list-topup
  &__list-topup {
    @include flex-align-row;
    column-gap: 10px;
    justify-content: space-between;
  }

  &__topup-item {
    cursor: pointer;
    @include flex-align-row;
    justify-content: center;
    column-gap: 4px;
    border-radius: 8px;
    background: rgba(111, 255, 87, 0.2);
    min-width: 156px;
    width: calc(100% / 4 - 10px);
    height: 73px;
    flex-shrink: 0;

    &-title {
      color: #bfbfbf;
      text-align: center;
      font-size: 18px;
      line-height: normal;
    }

    &-icon {
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      fill: $light-gray-text;

      &_google-pay {
        width: 135px;
        height: 24px;
      }
    }
  }

  // btn
  &__btn {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 40px;

    &-link {
      @include flex-align-row;
      justify-content: center;
      color: #f8f8f8;
      font-family: Roboto-Bold;
      font-size: 22px;
      font-weight: 700;
      line-height: normal;
      padding: 24px;
      background: radial-gradient(
        103.95% 123.29% at 50% 50%,
        rgba(250, 199, 4, 0.85) 0%,
        rgba(255, 166, 84, 0.85) 81.77%
      );

      & > span {
        margin-left: 5px;
        text-decoration: line-through;
      }
    }
  }

  // =====content bottom=======
  &__history {
    font-family: $font-secondary;
    font-weight: 400;

    &-title {
      font-size: 24px;
      line-height: normal;
      font-weight: 400;
      margin-bottom: 34px;
    }
  }

  &__list-item-title-box {
    @include flex-align-row;
    column-gap: 13px;

    &_translation {
      & > .svg-box-translation {
        @include flex-align-row;

        & > svg {
          fill: $basic-yellow;
          width: 24px;
          height: 24px;
        }
      }

      & > .cabinet-history__list-item-title {
        display: none;
        @include media-min-width(xl) {
          display: block;
          color: $basic-yellow;
        }
      }
    }

    &_withdrawal {
      & > .svg-box-withdrawal {
        @include flex-align-row;

        & > svg {
          fill: #6fff57;
          width: 24px;
          height: 24px;
        }
      }

      & > .cabinet-history__list-item-title {
        display: none;
        @include media-min-width(xl) {
          display: block;
          color: #6fff57;
        }
      }
    }
  }

  &__medium-content {
    display: grid;
    grid-template-columns: 40% 37% 30%;
    margin-left: 60px;
    column-gap: 45px;

    @include media-min-width(lg) {
      grid-template-columns: 30% 21% 30%;
    }
  }

  &__list-item-id-box {
    margin-left: auto !important;
    white-space: nowrap;
    transform: translateX(-57px);
  }

  &__list-item-id {
    &_withdrawal {
      text-decoration: none;
    }
    &_transfer {
      position: relative;
      border-radius: 12px;
      background: rgba(0, 0, 0, 0.25);
      padding: 10px 9px 8px 40px;

      &::before {
        content: '';
        position: absolute;
        top: 6px;
        left: 26px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #6fff57;
      }
    }
  }
}

// ===cabinet-settings===
.cabinet-settings {
  background: rgba(248, 248, 248, 0.05);
  backdrop-filter: blur(60px);
  padding: 29px 84px 37px 59px;
  font-family: $font-secondary;
  font-weight: 400;

  // message
  &__message {
    padding-bottom: 30px;
    border-bottom: 1px solid #3f3d46;

    &-title {
      font-size: 24px;
      line-height: normal;
      font-weight: 400;
      margin-bottom: 36px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 33px;
    }

    &-item {
      @include flex-align-row;
      column-gap: 40px;

      &-text {
        color: #989898;
        line-height: normal;
      }

      &-switch {
        position: relative;
        width: 38px;
        height: 20px;
        flex-shrink: 0;
        background-color: $gray-text;
        border-radius: 10px;
        padding: 2px;
        cursor: pointer;
        transition: all 150ms linear;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 4px;
          transform: translateY(-50%);
          width: 12px;
          height: 12px;
          background-color: $dark-text;
          border-radius: 50%;
          transition: all 150ms linear;
        }

        &_active {
          background-color: $basic-yellow;
          &:before {
            left: calc(100% - 16px);
          }

          & ~ .cabinet-settings__message-item-text {
            color: $light-text;
          }
        }
      }
    }
  }

  // invitations
  &__invitations {
    padding-top: 25px;
    padding-bottom: 35px;
    border-bottom: 1px solid #3f3d46;

    &-title {
      font-size: 24px;
      line-height: normal;
      font-weight: 400;
      margin-bottom: 22px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 33px;
    }

    &-item {
      @include flex-align-row;
      column-gap: 40px;

      &-text {
        color: #989898;
        line-height: normal;
      }

      &-switch {
        position: relative;
        width: 38px;
        height: 20px;
        flex-shrink: 0;
        background-color: $gray-text;
        border-radius: 10px;
        padding: 2px;
        cursor: pointer;
        transition: all 150ms linear;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 4px;
          transform: translateY(-50%);
          width: 12px;
          height: 12px;
          background-color: $dark-text;
          border-radius: 50%;
          transition: all 150ms linear;
        }

        &_active {
          background-color: $basic-yellow;
          &:before {
            left: calc(100% - 16px);
          }

          & ~ .cabinet-settings__invitations-item-text {
            color: $light-text;
          }
        }
      }
    }
  }

  // language
  &__language {
    padding-top: 25px;
    padding-bottom: 32px;
    border-bottom: 1px solid #3f3d46;

    &-title {
      font-size: 24px;
      line-height: normal;
      font-weight: 400;
      margin-bottom: 20px;
    }

    &-box {
      @include flex-align-row;
      column-gap: 59px;

      &-title {
        color: #989898;
      }
    }

    &-item {
      position: relative;

      &-title-box {
        @include flex-align-row;
        column-gap: 6px;
        cursor: pointer;

        &_active {
          & > .cabinet-settings__language-item-title-icon {
            transform: rotate(-90deg);
          }
        }
      }

      &-title {
        font-size: 18px;
        line-height: normal;

        &-icon {
          width: 25px;
          height: 25px;
          flex-shrink: 0;
          fill: $basic-white;
          transition: transform 200ms linear;
        }
      }
    }

    // inner list
    &-inner {
      &-list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        position: absolute;
        top: 150%;
        left: 0;
        padding: 0px 0px;
        background-color: #1d1d21;
        z-index: 1;
        border: 1px solid #fac704;
        transition: all 200ms linear;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        &_active {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
      }

      &-item {
        padding: 15px 15px 15px 10px;
        white-space: nowrap;
        transition: all 150ms linear;
        cursor: pointer;

        &:hover {
          background-color: rgba(250, 201, 4, 0.337254902);
        }
      }
    }
  }

  // Region
  &__region {
    padding-top: 25px;
    padding-bottom: 32px;
    border-bottom: 1px solid #3f3d46;

    &-title {
      font-size: 24px;
      line-height: normal;
      font-weight: 400;
      margin-bottom: 20px;
    }

    &-box {
      @include flex-align-row;
      column-gap: 52px;

      &-title {
        color: #989898;
      }
    }

    &-item {
      position: relative;

      &-img {
        margin-right: 7px;
      }

      &-title-box {
        @include flex-align-row;
        column-gap: 6px;
        cursor: pointer;

        &_active {
          & > .cabinet-settings__region-item-title-icon {
            transform: rotate(-90deg);
          }
        }
      }

      &-title {
        font-size: 18px;
        line-height: normal;

        &-icon {
          width: 25px;
          height: 25px;
          flex-shrink: 0;
          fill: $basic-white;
          transition: transform 200ms linear;
        }
      }
    }

    // inner list
    &-inner {
      &-list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        position: absolute;
        top: 150%;
        left: 0;
        padding: 0px 0px;
        background-color: #1d1d21;
        z-index: 1;
        border: 1px solid #fac704;
        transition: all 150ms linear;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        &_active {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
      }

      &-item {
        padding: 15px 15px 15px 10px;
        white-space: nowrap;
        transition: all 150ms linear;
        cursor: pointer;

        &:hover {
          background-color: rgba(250, 201, 4, 0.337254902);
        }
      }
    }
  }

  // accounts
  &__accounts {
    padding-top: 25px;
    padding-bottom: 32px;
    border-bottom: 1px solid #3f3d46;

    &-title {
      font-size: 24px;
      line-height: normal;
      font-weight: 400;
      margin-bottom: 22px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 23px;
    }

    &-item {
      display: grid;
      grid-template-columns: 6% 1fr;

      &-title {
        color: #989898;
        line-height: normal;
      }

      &-box {
        @include flex-align-row;
        column-gap: 10px;
        margin-left: 60px;

        @media (min-width: 1600px) {
          margin-left: 38px;
        }

        &-text {
          font-size: 18px;
          line-height: normal;

          &_accent {
            color: $basic-yellow;
            margin-left: 62px;

            @media (min-width: 1600px) {
              margin-left: 38px;
            }
          }
        }

        &-icon {
          display: grid;
          place-content: center;
          width: 15px;
          height: 15px;
          background-color: #f13939;
          border-radius: 50%;

          &::before {
            content: '';
            width: 10px;
            height: 1px;
            background-color: $dark-text;
          }
        }
      }
    }
  }

  // Change password
  &__password {
    padding-top: 25px;
    padding-bottom: 34px;
    border-bottom: 1px solid #3f3d46;

    &-title {
      font-size: 24px;
      line-height: normal;
      font-weight: 400;
      margin-bottom: 25px;
    }

    &-change {
      color: $basic-yellow;
    }
  }

  // Log out of the account

  &__logout {
    padding-top: 25px;

    &-btn {
      border-radius: 4px;
      background: rgba(248, 248, 248, 0.05);
      @include flex-align-row;
      column-gap: 15px;
      padding: 16px;

      & > span {
        color: #f13939;
        font-family: Roboto-Bold;
        font-weight: 700;
        line-height: normal;
      }

      & > svg {
        fill: #f13939;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }
  }
}

// ===block-list===
.cabinet-block {
  background: rgba(248, 248, 248, 0.05);
  backdrop-filter: blur(60px);
  padding: 29px 84px 14px 59px;

  &__empty {
    background: rgba(248, 248, 248, 0.05);
    backdrop-filter: blur(60px);
    max-width: 1227px;
    height: 564px;
    flex-shrink: 0;
    display: grid;
    place-content: center;

    &-message {
      font-family: $font-secondary;
      font-weight: 400;
      color: $light-gray-text;
      width: 371px;
      @include flex-align-column;
      row-gap: 23px;
      text-align: center;

      &-title {
        font-family: $font-secondary;
        font-size: 26px;
        font-weight: 400;
        line-height: normal;
      }

      &-text {
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // column-gap: 58px;
  }

  &__title {
    font-family: $font-secondary;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 19px;
  }

  // __item
  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 49px;
    border-bottom: 1px solid #606060;
    padding: 15px 19px 17px 17px;

    // user
    &-user {
      @include flex-align-row;
      column-gap: 11px;

      &-picture {
        display: inline-block;
        position: relative;

        & > .status {
          position: absolute;
          top: 0px;
          right: -3px;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #6fff57;
        }
      }

      &-img {
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 50%;
      }

      &-name {
        color: $light-gray-text;
        font-size: 18px;
        line-height: normal;
        margin-bottom: 2px;
      }

      &-game {
        color: $gray-text;
        font-family: Roboto-Bold;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
      }
    }

    // honors
    &-img-honors {
      width: 66px;
      height: 29px;
      flex-shrink: 0;
    }

    // btn
    &-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 30px;
      background-color: transparent;

      & > svg {
        width: 24px;
        height: 24px;
        fill: $light-gray-text;
        transition: fill 200ms linear;
      }
    }
  }

  // info-message

  &__info {
    margin-top: 10px;
    margin-left: 58px;

    &-message {
      border-radius: 4px;
      background: rgba(248, 248, 248, 0.1);
      padding: 25px 24px 22px 29px;
      display: flex;
      align-items: flex-start;
      column-gap: 16px;

      &-text {
        color: $light-gray-text;
        font-family: $font-secondary;
        font-weight: 400;
        line-height: normal;
      }

      & > svg {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        fill: $light-gray-text;
      }
    }
  }
}
