@font-face {
  font-family: 'Acme';
  src:
    url(../../../fonts/AcmeRegular.woff2) format('woff2'),
    url(../../../fonts/AcmeRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'AguafinaScript';
  src: url('../../../fonts/AguafinaScript-Regular.ttf');
}

@font-face {
  font-family: 'GreatVibes';
  src: url('../../../fonts/GreatVibes-Regular.ttf');
}

@font-face {
  font-family: 'Aclonica';
  src: url('../../../fonts/Aclonica-Regular.ttf');
}

@font-face {
  font-family: 'PTSans';
  src:
    url('../../../fonts/PTSans-Bold.woff2') format('woff2'),
    url('../../../fonts/PTSans-Bold.ttf') format('truetype');
}
