@font-face {
  font-family: 'HeliosExtC';
  src: url(../fonts/HeliosExtC-Bold.woff);
}
@font-face {
  font-family: 'Plus Jakarta Display';
  src: url(../fonts/PlusJakartaDisplayRegular.woff);
}
@font-face {
  font-family: 'Plus Jakarta Display';
  src: url(../fonts/PlusJakartaDisplayLight.woff);
}
@font-face {
  font-family: 'HeliosBlackC';
  src: url(../fonts/HeliosBlackC.woff);
}
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy-Regular.woff);
}
