@import '../../node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white-base-color);
}

ul,
ol,
li,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.to-freeze {
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
  font-size: 20px;
  line-height: 140%;
}

// -----------------

// @media (min-width: 1440px) {
//   ::-webkit-scrollbar {
//     width: 20px;
//   }

//   ::-webkit-scrollbar-track {
//     background: var(--black-background-color);
//   }

//   ::-webkit-scrollbar-thumb {
//     background: var(--2, linear-gradient(#21fbff 0%, #fd40ff 100%));
//     border: 2px solid #18041ef5;
//     border-radius: 4px;
//   }
// }
