html {
  scroll-behavior: smooth;

  // @media (min-width: 1920px) {
  //   background-image: url(../../../assets/img/base/body/body-bg-img.png);
  //   background-position: 0 580px;
  //   background-repeat: repeat-y;
  //   background-size: 100%;

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     top: -920px;
  //     left: 0;
  //     width: 300px;
  //     height: 912px;
  //     overflow: hidden;
  //     rotate: 90deg;
  //     transform-origin: left bottom;
  //     background-image: url(../../../assets/img/base/body/bg-body-branch-flower-left.webp);
  //     background-size: contain;
  //     z-index: 10000;
  //     background-repeat: no-repeat;
  //     background-position: 0px 640px;
  //     animation: branch-flower-left 6s infinite ease-in-out;
  //     pointer-events: none;

  //     @keyframes branch-flower-left {
  //       0% {
  //         transform: rotate(0deg);
  //       }
  //       50% {
  //         transform: rotate(5deg);
  //       }
  //       100% {
  //         transform: rotate(0deg);
  //       }
  //     }
  //   }

  //   &::after {
  //     content: '';
  //     position: absolute;
  //     top: -509px;
  //     left: 107%;
  //     width: 408px;
  //     height: 1008px;
  //     rotate: 270deg;
  //     transform-origin: left bottom;
  //     background-image: url(/assets/img/base/body/bg-body-branch-flower-left.webp);
  //     background-size: contain;
  //     z-index: 10000;
  //     background-repeat: no-repeat;
  //     background-position: 0px 609px;
  //     animation: branch-flower-right 5.5s infinite ease-in-out;
  //     pointer-events: none;

  //     @keyframes branch-flower-right {
  //       0% {
  //         transform: rotate(0deg);
  //       }
  //       50% {
  //         transform: rotate(5deg);
  //       }
  //       100% {
  //         transform: rotate(0deg);
  //       }
  //     }
  //   }
  // }
}

a {
  text-decoration: none;
  color: var(--white-base-color);
}

ul,
ol,
li,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.to-freeze {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  // font-family: 'GreatVibes';
  color: var(--dark-base-color);

  @media (min-width: 1920px) {
    background-image: url(../../../assets/img/base/body/body-bg-img.png);
    background-position: 0 330px;
    background-repeat: repeat-y;
    background-size: 100%;

    &::before {
      content: '';
      position: absolute;
      top: -920px;
      left: 0;
      width: 300px;
      height: 912px;
      overflow: hidden;
      rotate: 90deg;
      transform-origin: left bottom;
      background-image: url(../../../assets/img/base/body/bg-body-branch-flower-left.webp);
      background-size: contain;
      z-index: 10000;
      background-repeat: no-repeat;
      background-position: 0px 640px;
      animation: branch-flower-left 6s infinite ease-in-out;
      pointer-events: none;

      @keyframes branch-flower-left {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(5deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: -509px;
    //   left: 107%;
    //   width: 408px;
    //   height: 1008px;
    //   rotate: 270deg;
    //   transform-origin: left bottom;
    //   background-image: url(/assets/img/base/body/bg-body-branch-flower-left.webp);
    //   background-size: contain;
    //   z-index: 10000;
    //   background-repeat: no-repeat;
    //   background-position: 0px 609px;
    //   animation: branch-flower-right 5.5s infinite ease-in-out;
    //   pointer-events: none;

    //   @keyframes branch-flower-right {
    //     0% {
    //       transform: rotate(0deg);
    //     }
    //     50% {
    //       transform: rotate(5deg);
    //     }
    //     100% {
    //       transform: rotate(0deg);
    //     }
    //   }
    // }
  }
}

// -----------------

// @media (min-width: 1440px) {
//   ::-webkit-scrollbar {
//     width: 20px;
//   }

//   ::-webkit-scrollbar-track {
//     background: var(--black-background-color);
//   }

//   ::-webkit-scrollbar-thumb {
//     background: var(--2, linear-gradient(#21fbff 0%, #fd40ff 100%));
//     border: 2px solid #18041ef5;
//     border-radius: 4px;
//   }
// }
