.container {
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 375px) {
    max-width: 375px;
  }

  @media (min-width: 768px) {
    max-width: 760px;
  }

  @media (min-width: 1440px) {
    max-width: 1120px;
  }

  @media (min-width: 1920px) {
    max-width: 1660px;
  }
}
