.faq {
  position: relative;
  padding-top: 82px;
  padding-bottom: 195px;
  background-color: #090812;
  background-image: url(/assets/img/faq/blur-left.webp);
  background-repeat: no-repeat;

  @media (min-width: 1440px) {
    padding-top: 277px;
    padding-bottom: 200px;
    background-image: url(/assets/img/faq/curve.webp), url(/assets/img/faq/blur-left.webp),
      url(/assets/img/faq/blur-right.webp);
    background-position: 100% -90%, top left, right bottom;
  }
}

// accordion-----

.accordion-faq {
  position: relative;
  max-width: 1296px;
  margin: 0 auto;
  padding: 60px 20px;
  border: 2px solid rgba(156, 58, 255, 0.14);

  background: linear-gradient(180deg, rgba(58, 78, 255, 0) 0%, rgba(156, 58, 255, 0.14) 100%),
    url(/assets/img/bg-decorate/vector-line.png);
  background-repeat: repeat-y;

  @media (min-width: 1440px) {
    padding: 92px 57px;
    border: 4px solid rgba(156, 58, 255, 0.14);
    background: linear-gradient(180deg, rgba(58, 78, 255, 0) 0%, rgba(156, 58, 255, 0.14) 100%),
      url(/assets/img/bg-decorate/Vector-line.svg);
    background-repeat: repeat-y;
  }

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    left: -5px;
    width: 45px;
    height: 45px;
    background-color: #0c0415f4;
    clip-path: polygon(100% 0, 0 0, 0 100%);

    @media (min-width: 1440px) {
      top: -5px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: -9px;
    left: 15px;
    width: 2px;
    height: 49px;
    background-color: rgba(156, 58, 255, 0.198);
    transform: rotate(45deg);
    border-radius: 5px;

    @media (min-width: 1440px) {
      width: 4px;
      top: -13px;
      left: 17px;
      height: 64px;
    }
  }

  &__sup-title,
  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__sup-title {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 20px;

    @media (min-width: 1440px) {
      font-size: 20px;
      margin-bottom: 12px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 109%;
    margin-bottom: 30px;

    @media (min-width: 1440px) {
      font-size: 45px;
      margin-bottom: 43px;
    }
  }
}

// ---list----------

.list-faq {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  &__title-content {
    cursor: pointer;
    padding-bottom: 24px;
    padding-top: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;

    &_active > .list-faq__cross {
      transform: rotate(45deg);
    }

    @media (min-width: 1440px) {
      padding-bottom: 49px;
      padding-top: 49px;
    }
  }

  &__cross {
    width: 16px;
    height: 2px;
    background-color: #fff;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;

    @media (min-width: 1440px) {
      width: 30px;
      height: 4px;
    }

    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 16px;
      background-color: #fff;
      transform: translate(7px, -7px);

      @media (min-width: 1440px) {
        width: 4px;
        height: 30px;
        transform: translate(13px, -13px);
      }
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;

    @media (min-width: 1440px) {
      font-size: 30px;
    }
  }

  &__description-content {
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;

    &-text {
      padding-top: 21px;

      @media (min-width: 1440px) {
        padding-top: 23px;
      }
    }

    @media (min-width: 1440px) {
      font-size: 24px;
    }
  }
}

// ---animation-----

.faq__running-line {
  position: absolute;
  top: 133px;
  left: -50%;
  background-color: var(--black-background-color);
  background-size: 150% 30px;
  transform: rotate(6deg);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-align: right;
  font-size: 32.878px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.329px;

  @media (min-width: 1440px) {
    top: 244px;
  }

  &-text {
    background: var(--2, linear-gradient(90deg, #21fcff 0%, #fd40ff 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: nowrap;
    flex-shrink: 0;

    @media (min-width: 1440px) {
      font-size: 50px;
      padding: 20px 0px;
    }

    @media (min-width: 1920px) {
      font-size: 72px;
    }

    animation: running-line-bottom 15s linear infinite;

    @keyframes running-line-bottom {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}

.faq__run-star {
  display: inline-block;
  width: 30px;
  height: 30px;
  @media (min-width: 1440px) {
    width: 50px;
    height: 50px;
  }
}
