.footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  position: relative;

  &-title {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 15px;
    color: var(--gray-base-secondary-color);

    & > svg {
      fill: var(--gray-base-color);
    }
  }

  &__map {
    position: relative;
    padding-bottom: 75px;

    @media (max-width: 835px) {
      padding-bottom: 373px;
    }

    .map {
      &__content {
        position: relative;
      }

      &__contacts {
        position: absolute;
        top: 0;
        z-index: 4;
        right: 219px;
        max-width: 380px;
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/img/base/footer/footer-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 174px 72.5px 25px 72.5px;
        filter: drop-shadow(4px 0px 10px rgba(0, 0, 0, 0.15))
          drop-shadow(-4px 0px 10px rgba(0, 0, 0, 0.15));

        @media (max-width: 835px) {
          top: 170px;
          right: 0;
          max-width: 100%;
          width: 100%;
          height: 288px;
          padding: 98px 55px 20px 55px;
        }

        @media (max-width: 375px) {
          padding: 91px 15px 20px 12px;
        }

        .contacts {
          &__tel {
            margin-bottom: 23px;

            @media (max-width: 835px) {
              margin-bottom: 19px;
              display: flex;
              font-size: 12px;
            }

            &-icon {
              width: 13px;
              height: 13px;

              @media (min-width: 768px) {
                width: 18px;
                height: 18px;
              }
            }

            .tel {
              &__link {
                display: flex;
                flex-direction: column;
                gap: 14px;
                margin-left: 28px;
                margin-top: 4px;
                font-family: var(--primary-font);

                & > a {
                  color: var(--dark-base-color);
                }

                @media (max-width: 835px) {
                  gap: 3px;
                  font-size: 12px;
                }

                a:last-child {
                  margin-left: 4px;
                }
              }
            }
          }

          &__skype {
            margin-bottom: 25px;

            @media (max-width: 835px) {
              display: flex;
              font-size: 12px;
              margin-bottom: 7px;
            }

            .skype {
              &__title {
                gap: 19px;
                font-family: var(--secondary-font);
                @media (max-width: 835px) {
                  gap: 12px;
                }
              }

              &__link {
                font-family: var(--primary-font);
                margin-left: 44px;

                & > a {
                  color: var(--dark-base-color);
                }

                @media (max-width: 835px) {
                  margin-left: 66px;
                }
              }
            }
          }

          &__mail {
            margin-bottom: 41px;

            @media (max-width: 835px) {
              display: flex;
              font-size: 12px;
              margin-bottom: 5px;
            }

            .mail {
              &__title {
                @media (max-width: 835px) {
                  gap: 6px;
                }
              }

              &__link {
                font-family: var(--primary-font);
                margin-left: 89px;

                & > a {
                  color: var(--dark-base-color);
                }

                @media (max-width: 835px) {
                  margin-left: 92px;
                }
              }
            }
          }

          &__social {
            display: flex;
            gap: 21px;

            @media (max-width: 835px) {
              justify-content: center;
            }

            .social {
              background-color: var(--gray-base-color);
              width: 34px;
              height: 34px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              line-height: 0;
              transition: all 0.25s;

              & svg {
                fill: var(--white-base-color);
              }

              &:hover {
                opacity: 0.85;
                transition: all 0.25s;
              }

              &:active {
                opacity: 0.6;
                transition: all 0.25s;
              }
            }
          }
        }
      }
    }

    iframe {
      position: relative;
      z-index: 3;
      width: 100%;
      height: 508px;

      @media (max-width: 835px) {
        height: 171px;
      }
    }
  }

  &__links {
    background: var(--dark-base-color);
    width: 100%;
    padding-top: 42px;
    padding-bottom: 36px;
    position: relative;

    &.links__main {
      @media (max-width: 1100px) {
        display: none;
      }
    }

    &.links__adaptive {
      display: none;
      padding-top: 38px;

      @media (max-width: 1100px) {
        display: block;
      }

      .links {
        &__logo {
          display: flex;
          justify-content: center;
          margin-bottom: 67px;

          @media (max-width: 768px) {
            margin-bottom: 55px;
          }

          & > img {
            width: 131px;
            height: 125px;
            object-fit: contain;
          }
        }

        &__menu {
          flex-direction: column;
          gap: 0;
          margin-bottom: 0;

          .menu__footer {
            max-width: 100%;

            .menu {
              &__category {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;
                font-size: 14px;

                &.active {
                  color: var(--gray-base-secondary-color);

                  svg {
                    transform: rotate(180deg);
                  }
                }
              }

              &__link {
                box-sizing: content-box;
                justify-content: space-around;
                max-height: 0;
                opacity: 0;
                visibility: hidden;

                & a {
                  font-size: 12px;
                }

                &.active {
                  visibility: visible;
                  opacity: 1;
                  padding-top: 20px;
                  padding-bottom: 50px;
                  transition: all 0.5s;
                }
              }
            }
          }
        }

        &__last-line {
          flex-direction: row-reverse;
          padding-top: 30px;

          @media (max-width: 835px) {
            flex-direction: column;
            gap: 57px;
          }

          &::before {
            @media (max-width: 835px) {
              content: none;
            }
          }

          .last-line {
            &__protection-of-rights {
              font-size: 12px;
              margin-top: 1px;
              margin-right: auto;
            }

            &__payment-methods {
              .payment-methods__images {
                @media (max-width: 835px) {
                  width: 100%;
                  display: grid;
                  grid-template-rows: 47px 47px;
                  grid-template-columns: auto auto auto;
                  gap: 38px 28px;
                  justify-items: center;
                }

                img {
                  @media (max-width: 835px) {
                    max-width: 80px;
                    width: 100%;
                  }

                  @media (max-width: 425px) {
                    width: auto;
                  }

                  &.liqpay {
                    @media (max-width: 425px) {
                      width: 100%;
                      height: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .links {
      &__menu {
        display: flex;
        justify-content: flex-end;
        padding-right: 12px;
        gap: 103px;
        margin-bottom: 39px;

        .menu__footer {
          max-width: 215px;

          .menu {
            &__category,
            &__link a {
              color: var(--white-base-color);
              font-family: Acme, sans-serif;
            }

            &__category {
              font-family: Actor, sans-serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 18px;
              margin-bottom: 35px;
            }

            &__link a {
              font-size: 16px;
              font-weight: 400;
              line-height: 18px;
              transition: all 0.25s;

              &:hover {
                color: var(--gray-base-color);
              }
            }

            &__link {
              display: flex;
              flex-direction: column;
              gap: 18px;
              justify-content: center;
              height: 123px;
            }
          }
        }
      }

      &__last-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 20px;

        &::before {
          content: '';
          width: 100%;
          height: 1px;
          background: var(--gray-base-color);
          position: absolute;
          top: 0;
          left: 0;
        }

        .last-line {
          &__protection-of-rights {
            color: var(--white-base-color);
            font-family: Acme, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            margin-top: 5px;
            letter-spacing: 0.3px;
          }

          &__payment-methods {
            display: flex;
            align-items: center;
            gap: 37px;

            p {
              color: var(--white-base-color);
              font-family: Acme, sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0.3px;
            }

            .payment-methods__images {
              display: flex;
              align-items: center;
              gap: 28px;
            }
          }
        }
      }
      &__accordions {
        margin-bottom: 11px;
      }
    }
  }
}

.accordion {
  transition: all 250ms linear;
  &__title {
    line-height: 42px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease 0s;
    color: var(--white-base-color);

    svg {
      transition: all 0.3s ease 0s;
      transform-origin: center;
      margin-right: 4px;
    }

    &:hover {
      color: var(--gray-base-color);
    }

    @media (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__content {
    transition: all 0.2s ease-in;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;

    a {
      font-size: 16px;
      text-align: center;
      color: var(--white-base-color);
      display: block;
      line-height: 2;

      &:hover {
        color: var(--gray-base-color);
      }
    }
  }

  &_active {
    .accordion {
      &__title {
        svg {
          transform: rotate(90deg);
        }
      }

      &__content {
        transition: all 0.2s ease-out 0s;
        padding: 30px 0;
        height: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
