.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;

  &__wrapper-top {
    background-color: var(--dark-background-color);
    color: var(--white-base-color);
    transition: all 500ms linear;
    max-height: 50px;

    animation: is-hidden auto linear;
    animation-timeline: scroll();

    @keyframes is-hidden {
      20%,
      100% {
        max-height: 0;
      }
    }
  }

  &__container_top {
    padding-top: 12px;
    padding-bottom: 13px;

    @media (min-width: 1440px) {
      @include flex-align-row;
      justify-content: space-between;
      padding-top: 15px;
      padding-bottom: 17px;
    }
  }

  &__list-top {
    @include flex-align-row;
    justify-content: space-between;

    @media (min-width: 1439px) {
      column-gap: 65px;
    }
  }

  &__item-top {
    @include flex-align-row;
    column-gap: 11px;
    position: relative;

    &:not(:nth-child(1), :nth-child(2), :nth-child(5)) {
      display: none;

      @media (min-width: 1440px) {
        display: flex;
      }
    }

    &:nth-child(1),
    &:nth-child(5) {
      @media (max-width: 374px) {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: -12px;
          height: 100%;
          width: 1px;
          background-color: var(--956D84, #956d84);
        }
      }
    }
    &:nth-child(5) {
      & > a .header__item-top-title {
        display: flex;
      }
    }

    @media (max-width: 1439px) {
      &:nth-child(2) {
        order: 2;
      }
    }

    &-title {
      line-height: 112%;
      white-space: nowrap;
      display: none;

      @media (min-width: 1440px) {
        display: flex;
      }
    }

    &-link {
      @include flex-align-row;
      column-gap: 11px;
      transition: all 250ms linear;

      @media (min-width: 1440px) {
        column-gap: 20px;

        &:hover {
          color: var(--gray-base-color);
        }
      }
    }
  }

  // __dropdown----

  &__dropdown {
    position: relative;

    &-arrow-icon {
      width: 7px;
      height: 4px;
      flex-shrink: 0;
      fill: var(--white-base-color);

      &_active {
        transform: rotate(180deg);
      }
    }

    &-title_wrapp {
      @include flex-align-row;
      column-gap: 8px;
      cursor: pointer;
      color: var(--gray-base-color);
      line-height: 112%;
      transition: all 200ms linear;

      &:hover {
        color: var(--white-base-color);
      }
    }
  }

  &__list-dropdown {
    position: absolute;
    top: 25px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    border: 1px solid var(--gray-base-color);
    background-color: var(--dark-background-color);
    border-radius: 3px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    transition: all 200ms linear;
    z-index: 2;

    &.header__list-dropdown_active {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }

  &__item-dropdown {
    cursor: pointer;
    transition: all 200ms linear;

    &:hover {
      color: var(--gray-base-color);
    }
  }

  &__item-img {
    width: 16px;
    height: 16px;

    &_wrapper {
      position: relative;
      margin-right: 10px;
      cursor: pointer;
    }

    &_count {
      position: absolute;
      top: -4px;
      right: -12px;
      width: 16px;
      height: 16px;
      background-color: #fff;
      opacity: 0.7;
      color: #414141;
      font-family: 'PTSans';
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
      border-radius: 50%;
    }
  }

  &__exit {
    @include flex-align-row;
    column-gap: 15px;
    position: relative;

    display: none;

    @media (min-width: 1440px) {
      display: flex;
      transform: translateX(-10px);
    }

    & > button {
      background-color: transparent;
      @include flex-align-row;
      column-gap: 10px;
      color: var(--white-base-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 112%;

      & > p {
        transition: all 250ms linear;

        &:hover {
          color: var(--gray-base-color);
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: var(--gray-base-color);
      top: 0;
      left: 62px;
    }
  }

  // ----wrapper-bottom----

  &__wrapper-bottom {
    position: relative;
    background-color: #fff;
    padding: 18px 0;

    animation: grow auto linear;
    animation-timeline: scroll();

    @keyframes grow {
      20%,
      100% {
        box-shadow: 0 0 10px rgba(0, 0, 0);
      }
    }

    @media (min-width: 1440px) {
      padding: 26px 0;
    }
  }

  &__container_bottom {
    @include flex-align-row;
    justify-content: space-between;

    @media (min-width: 1440px) {
      justify-content: flex-start;
    }
  }

  &__logo-wrapper {
    position: relative;
    margin-left: 40px;
    width: 83px;
    height: 58px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 101%;
      height: 101%;
      background-image: url(../../../assets/img/base/header/logo-2.webp);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: 5;
    }

    @media (min-width: 1440px) {
      width: 129px;
      height: 95px;
      margin-left: 0px;
      margin-right: 112px;
    }
  }

  &__logo {
    border: 1px solid #fff;
    background-color: #de8ab9d5;
    transform-origin: bottom;
    width: 100%;
    height: 57px;

    @media (min-width: 1440px) {
      width: 129px;
      height: 93px;
    }

    animation: grow-progress auto linear;
    animation-timeline: scroll();

    @keyframes grow-progress {
      20% {
        transform: scaleY(1);
      }
      100% {
        transform: scaleY(0);
      }
    }
  }

  // --search-category -----

  .search-category {
    @media (min-width: 1440px) {
      ::-webkit-scrollbar {
        width: 8px;
      }

      ::-webkit-scrollbar-track {
        background: var(--dark-background-color);
      }

      ::-webkit-scrollbar-thumb {
        background: var(--gray-base-secondary-color);
      }
    }

    border-bottom: 1px solid #956d84;
    position: relative;

    &__list {
      position: absolute;
      width: 100%;
      border: 1px solid #956;
      border-radius: 0px 0px 5px 5px;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      overflow-y: auto;
      max-height: 200px;
      transition: all 250ms linear;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      z-index: 1;
      background-color: var(--white-base-color);

      &_active {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
      }

      &-item {
        cursor: pointer;
        color: var(--828282, #828282);
        line-height: 128%;
        padding: 10px;
        transition: all 250ms linear;

        &:hover {
          color: var(--white-base-color);
          background-color: var(--gray-base-secondary-color);
        }
      }
    }

    &__title-box {
      width: 219px;
      @include flex-align-row;
      column-gap: 8px;
      margin-bottom: 8px;
      cursor: pointer;
    }

    &__title {
      color: var(--gray-base-secondary-color);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 128%;
    }
    &__arrow-icon {
      fill: #828282;
      width: 10px;
      height: 5px;
      transition: all 200ms linear;

      &_active {
        transform: rotate(180deg);
      }
    }
  }

  // -----header__search-input---

  &__search-input-wrapp {
    width: 580px;
    border-bottom: 1px solid #956d84;
    display: flex;
    padding-right: 17px;
  }

  &__search-input {
    border: none;
    width: 100%;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 128%;
    outline: none;
    background-color: transparent;

    &::placeholder {
      color: var(--gray-base-secondary-color);
      font-style: normal;
      line-height: 128;
    }
  }

  &__search-btn {
    background-color: transparent;
  }

  // contacts-box

  &__contacts-box {
    display: flex;
    flex-direction: column;
    row-gap: 22px;

    @media (min-width: 1440px) {
      margin-left: auto;
    }

    &-tel {
      color: var(--dark-base-color);
      text-align: center;
      font-family: 'Acme' sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 112%;
      display: none;

      @media (min-width: 1440px) {
        display: block;
      }
    }
  }

  &__icon-favorite {
    width: 25px;
    height: 23px;
    fill: #956d84;

    @media (min-width: 1440px) {
      width: 38px;
      height: 35px;
    }
  }
}

// box-favorite

.box-favorite {
  &__list {
    @include flex-align-row;
    column-gap: 18px;

    @media (min-width: 1440px) {
      column-gap: 17px;
    }

    &-item {
      &:nth-child(1),
      &:nth-child(4) {
        display: none;

        @media (min-width: 1440px) {
          display: block;
        }
      }

      &.box-favorite__list-item_search {
        @media (min-width: 1440px) {
          display: none;
        }
      }
    }
  }

  &__list-item-box {
    position: relative;
    display: block;
    cursor: pointer;
  }

  &__amount {
    position: absolute;
    top: -4px;
    left: 16px;
    color: #fff;
    font-family: 'PTSans' serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: #956d84;
    padding: 0px 4px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1440px) {
      top: -5px;
      left: 27px;
      padding: 2px 6px;
    }
  }

  &__list-item-sum {
    color: var(--gray-base-secondary-color);
    text-align: center;
    font-family: 'Acme' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 62%;
  }
}

.nav-bottom-box {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    padding-top: 21px;
  }

  &__bottom {
    margin-top: 47px;
  }

  &__list {
    @include flex-align-row;
    justify-content: space-between;
    column-gap: 18px;

    &-link {
      color: var(--dark-base-color);
      line-height: 112%;
    }
  }
}

// --nav-bottom-box__top---

.nav-bottom-box__top {
  @include flex-align-row;
  column-gap: 21px;
}

// nav-bottom-box__bottom

.categories {
  &__title-box {
    @include flex-align-row;
    column-gap: 10px;
    cursor: pointer;
  }

  &__title {
    color: var(--gray-base-color);
    line-height: 112%;
  }

  &__title-arrow-icon {
    width: 10px;
    height: 5px;
    transform: translateY(2px);
  }
}

// --information

.information {
  &__title-box {
    @include flex-align-row;
    column-gap: 10px;
    color: var(--dark-base-color);
    cursor: pointer;
  }
}

// header__contacts-box--

.social-media {
  &__list {
    @include flex-align-row;
    justify-content: space-between;
    display: none;

    @media (min-width: 1440px) {
      display: flex;
    }
  }
  &__list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #956d84;
    padding: 6px;
    border-radius: 50%;
  }
}

// ---burger-btn----

.burger-btn {
  width: 30px;
  height: 18.615px;
  position: relative;
  background-color: transparent;

  &__line {
    position: absolute;
    height: 2px;
    background-color: var(--gray-base-color);
    border-radius: 2px;

    &_top {
      top: 0;
      left: 0;
      width: 100%;
    }

    &_middle {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
    }

    &_bottom {
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  @media (min-width: 1440px) {
    display: none;
  }
}
