.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  min-height: 100dvh;
  max-width: 425px;
  margin-right: auto;
  transition: all 250ms linear;
  background-color: var(--white-base-color);
  transform: translateX(-100%);
  z-index: 1000;

  &__container {
    padding: 20px;
    overflow: auto;
    height: calc(100dvh - 70px);
  }

  &__header {
    @include flex-align-row;
    justify-content: space-between;
    padding: 26px 20px;
    background-color: var(--dark-background-color);

    &-title {
      color: var(--white-base-color);
      font-size: 14px;
      font-weight: 400;
      line-height: 128%;
    }
  }

  &__close-btn {
    background-color: transparent;
  }

  &--visible {
    transform: translateX(0);
  }

  // contacts--

  &__contacts {
    @include flex-align-row;
    justify-content: space-between;
    margin-bottom: 73px;

    &-link {
      color: var(--dark-base-color);
      text-align: center;
      font-family: 'Acme' sans-serif;
      line-height: 112%;
    }

    &-btn {
      overflow: hidden;
      position: relative;
      @include flex-align-row;
      justify-content: center;
      width: 122px;
      height: 35px;
      border-radius: 5px;
      background: var(--gray-base-color);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
      color: var(--white-base-color);
      text-align: center;
      font-size: 12px;
      line-height: 150%;

      &-img {
        position: absolute;
        width: 91px;
        height: 35px;
        transform: rotate(360deg);
        top: 0;
        right: 0;
      }
    }
  }

  //--nav-list---

  &__nav-list {
    &-item {
      border-bottom: 1px solid #0000003f;
      padding: 23px 0px;
    }
    &-link {
      display: block;
      color: inherit;
      line-height: 112%;

      &_phone {
        display: flex;
        align-items: center;
        column-gap: 14px;
        color: var(--gray-base-color);
      }
    }
  }
}

// nav-list--

.nav-list {
  &__sub-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: all 250ms linear;

    &-item {
      border-bottom: 1px solid #00000028;
      padding: 10px 0px;
    }

    &-link {
      color: var(--gray-base-color);
    }
  }
}

// nav-list-item--

.nav-list-item {
  &__title-wrapper {
    @include flex-align-row;
    justify-content: space-between;
    transition: all 250ms linear;

    & > svg {
      transition: all 250ms linear;
    }

    &_active {
      margin-bottom: 20px;

      & > svg {
        transform: rotate(90deg);
      }
    }
  }
}

// --user-panel---

.user-panel {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 37px;
    margin-bottom: 72px;

    &-item {
      @include flex-align-row;
      justify-content: space-between;

      &-title {
        line-height: 112%;
      }
    }
  }

  &__city-selection-title {
    color: var(--gray-base-color);
    line-height: 112%;

    &_active {
      color: var(--dark-base-color);
    }
  }

  &__city-selection-wrapper {
    position: relative;
  }

  &__city-selection-list {
    position: absolute;
    left: 0;
    width: 100%;
    top: 30px;
    display: grid;
    row-gap: 10px;
    border-radius: 5px;
    background-color: var(--white-base-color);
    max-height: 0px;
    overflow: hidden;
    transition: all 250ms linear;
    z-index: 2;

    &-item {
      background-color: var(--gray-base-color);
      padding: 8px 16px;
      border-radius: 5px;
      color: var(--white-base-color);
    }
  }

  // --list-item-favorite-wrapp---

  &__list-item-favorite-wrapp {
    position: relative;
    transform: translateX(-11px);
  }

  &__list-item-favorite-count {
    position: absolute;
    top: -6px;
    right: -11px;
    color: #414141;
    font-family: 'PTSans' sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 2px 7px;
    background-color: #956d84c6;
    border-radius: 50%;
  }

  &__list-item-sub-title {
    color: var(--gray-base-color);
    line-height: 112%;
  }
}

// --menu-categories----

.menu-categories {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;

  width: 100vw;
  height: 100vh;
  max-width: 425px;
  margin-right: auto;
  transition: all 250ms linear;
  background-color: var(--white-base-color);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &--visible {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  // ---menu-categories-list--

  &__list {
    &-item {
      border-bottom: 1px solid #00000028;
    }

    &-title {
      color: var(--gray-base-color);
      line-height: 112%;
    }

    &-title-box {
      @include flex-align-row;
      justify-content: space-between;
      padding: 23px 0px;

      & > svg {
        transition: all 250ms linear;
      }

      &_active {
        & > svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  // ----sub-list---

  &__sub-list {
    transition: all 250ms linear;
    overflow: hidden;
    max-height: 0px;

    display: flex;
    flex-direction: column;
    row-gap: 5px;

    &-item {
      line-height: 112%;
      padding: 10px 43px;

      &_active {
        background-color: var(--gray-base-color);
        color: var(--white-base-color);
      }

      &:last-child {
        margin-bottom: 16px;
      }
    }
  }
}
