.modal-favorite {
  background-color: var(--white-base-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  z-index: 1000;
  transition: all 200ms linear;
  padding-top: 62px;
  padding-bottom: 30px;
  padding-right: clamp(0.313rem, -1.384rem + 8.48vw, 6.25rem);
  padding-left: clamp(0.313rem, -1.384rem + 8.48vw, 6.25rem);

  @media (min-width: 768px) {
    width: 90%;
    height: 90%;
  }

  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  &--visible {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &__title {
    font-size: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: clamp(2.188rem, 1.83rem + 1.79vw, 3.438rem);
  }

  &__icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    fill: var(--gray-base-color);
    stroke: #fff;
    width: 20px;
    height: 20px;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__swiper-wrapper {
    position: relative;
  }
}

// ===swiper====

.modal-favorite-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.modal-favorite__swiper-btns {
  display: none;

  @media (min-width: 1440px) {
    position: absolute;
    @include flex-align-row;
    column-gap: 30px;
    top: -84px;
    right: 0;
    color: var(--gray-base-color);
  }

  & svg {
    fill: var(--gray-base-color);
    width: 14px;
    height: 30px;
    cursor: pointer;
  }
}

.modal-favorite-swiper .swiper-btn-close {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    color: var(--gray-base-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 112%;
    text-decoration: underline;
  }
}

.modal-favorite-swiper .swiper-pagination {
  @media (min-width: 1440px) {
    display: none;
  }
}

.modal-favorite-swiper .swiper-pagination-bullet {
  background: var(--gray-base-color) !important;
}
.modal-favorite-swiper .swiper-pagination-bullet-active {
  background: var(--gray-base-color) !important;
}
.modal-favorite-swiper .swiper-pagination-bullet-active::after {
  border: 1px solid var(--gray-base-color);
}
