.preloader {
  overflow: hidden;
  position: fixed;
  inset: 0;
  z-index: 20000;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 400ms linear;

  &_visible {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    background-color: #050505f7;
  }

  .img__branch-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  &__img-branch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 320px;
    height: auto;
    aspect-ratio: 7 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    animation-name: branch;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 500ms;
    animation-fill-mode: forwards;

    @keyframes branch {
      to {
        opacity: 1;
      }
    }
  }

  &__img-flower-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42%, -126%);
    width: 100px;
    height: auto;
    aspect-ratio: 1 / 1;
    opacity: 0;

    animation-name: flower-top;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    @keyframes flower-top {
      to {
        opacity: 1;
      }
    }
  }

  &__img-right-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(40%, -60%);
    width: 100px;
    height: auto;
    aspect-ratio: 1 / 1;
    opacity: 0;

    animation-name: flower-right-top;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

    @keyframes flower-right-top {
      to {
        opacity: 1;
      }
    }
  }

  &__img-right-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, 6%);
    width: 91px;
    height: auto;
    aspect-ratio: 1 / 1;
    opacity: 0;

    animation-name: flower-right-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    @keyframes flower-right-bottom {
      to {
        opacity: 1;
      }
    }
  }

  &__img-left-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-123%, -87%);
    width: 93px;
    height: auto;
    aspect-ratio: 1 / 1;
    opacity: 0;

    animation-name: flower-left-top;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    @keyframes flower-left-top {
      to {
        opacity: 1;
      }
    }
  }

  &__img-left-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-151%, -1%);
    width: 80px;
    height: auto;
    aspect-ratio: 1 / 1;
    opacity: 0;

    animation-name: flower-left-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

    @keyframes flower-left-bottom {
      to {
        opacity: 1;
      }
    }
  }

  // display: none;
}
