.sidebar {
  background-color: $dark-bg;
  // logo
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;

    &-icon {
      transition: all 200ms linear;
      fill: $basic-yellow;
    }

    &:hover > svg {
      filter: drop-shadow(0px 0px 10px rgb(211, 99, 8));
    }
  }

  //  navigation
  &__nav {
    margin-top: 27px;

    &-list {
      display: flex;
      flex-direction: column;
      transition: background-color 150ms linear;

      &:hover {
        & .sidebar__nav-link_active {
          & .sidebar__nav-link-text {
            color: $gray-text;
          }
          & .sidebar__nav-link-icon {
            fill: $gray-text;
          }
        }

        & .sidebar__nav-link {
          background-color: $dark-bg;

          &:hover {
            background-color: $basic-yellow;

            & .sidebar__nav-link-text {
              color: $dark-text;
            }
            & .sidebar__nav-link-icon {
              fill: $dark-text;
            }
          }
        }
      }
    }

    &-link {
      position: relative;
      color: $gray-text;
      @include flex-align-column;
      row-gap: 3px;
      padding: 17px 10px;
      cursor: pointer;
      transition: background-color 150ms linear;

      &-icon {
        width: 36px;
        height: 36px;
        fill: $gray-text;
        transition: fill 150ms linear;
      }

      &-text {
        text-align: center;
        font-family: Roboto-Black;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        transition: color 150ms linear;
      }

      &-count {
        position: absolute;
        top: 3px;
        right: 14px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $basic-yellow;
        border-radius: 50px;
        border: 1px solid $dark-bg;
        color: $dark-text;
        line-height: normal;
      }

      &_active {
        background-color: $basic-yellow;

        & .sidebar__nav-link-text {
          color: $dark-text;
        }
        & .sidebar__nav-link-icon {
          fill: $dark-text;
        }
      }

      &:hover {
        background-color: $basic-yellow;

        & .sidebar__nav-link-text {
          color: $dark-text;
        }
        & .sidebar__nav-link-icon {
          fill: $dark-text;
        }
      }
    }
  }
}
