// --media-breakpoint---
$breakpoints: (
  xxs: 375px,
  xs: 576px,
  sm: 768px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px,
);

@mixin media-min-width($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
}

// ----base----
@mixin flex-align-row() {
  display: flex;
  align-items: center;
}

@mixin flex-align-column() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin grid-auto-fit($min, $max) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, $max));
}
