// Максимальна ширина екрана
$maxWidth: 1556px;

// Брекпоінти
$xxs: 375px;
$xs: 576px;
$sm: 768px;
$md: 1024px;
$lg: 1440px;
$xl: 1920px;

// Шрифти
$font-primary: Roboto-Medium;
$font-secondary: Roboto-Regular;
$font-tertiary: Roboto-Bold;
$font-quaternary: Roboto-Black;

// Кольри
// background
$dark-bg: #101011;

// text
$light-text: #f8f8f8;
$dark-text: #101011;
$gray-text: #606060;
$light-gray-text: #bfbfbf;
// universal
$basic-yellow: #fac704;
