:root {
  --primary-font: 'Acme';
  --secondary-font: 'AguafinaScript';
  --white-base-color: #fff;
  --gray-base-color: #956d84;
  --gray-base-secondary-color: #828282;
  --dark-base-color: #333;
  --dark-background-color: #333;
}
