:root {
  --primary-font: 'Acme' sans-serif;
  --secondary-font: 'AguafinaScript' serif;
  --white-base-color: #fff;
  --gray-base-color: #956d84;
  --dark-base-color: #333;
  --dark-background-color: #333;
}
