.tournaments__wrapper {
  // background-color: rgba(248, 248, 248, 0.016);
  // backdrop-filter: blur(10px);
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
}

.tournaments-form__form {
  padding-bottom: 80px;

  & .form {
    &__content {
      max-width: 1187px;
    }
    // text-box
    &__text {
      &-box {
        display: flex;
        flex-direction: column;
        row-gap: 28px;
        margin-bottom: 35px;

        ::-webkit-scrollbar {
          width: 4px;
        }

        ::-webkit-scrollbar-track {
          backdrop-filter: blur(40px);
        }

        ::-webkit-scrollbar-thumb {
          background: $basic-yellow;
          border: 2px solid #000000ac;
          border-radius: 4px;
        }
      }

      &-input {
        padding: 20px 31px;
        border-radius: 2px;
        background-color: rgba(248, 248, 248, 0.1);
        backdrop-filter: blur(40px);
        border: none;
        color: $light-text;
        font-size: 18px;
        outline: none;

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px #272626 inset;
          box-shadow: 0 0 0px 1000px #272626 inset;
          -webkit-text-fill-color: $light-text;
          caret-color: $light-text;
        }

        &:focus {
          border: 1px solid red;

          &:valid {
            border-color: $basic-yellow;
          }
        }
      }

      &-description {
        position: relative;
        height: 61px;
        resize: none;
        padding: 20px 31px;
        border-radius: 2px;
        background-color: rgba(248, 248, 248, 0.1);
        backdrop-filter: blur(40px);
        border: none;
        color: $light-text;
        font-size: 18px;
        outline: none;
        box-shadow: none;
        text-shadow: none;

        &:focus {
          border: 1px solid $basic-yellow;
        }

        &::placeholder {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    // rank======
    &__rank {
      margin-bottom: 32px;

      &-title {
        color: $light-gray-text;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 34px;
      }

      &__content {
        @include flex-align-row;
        column-gap: 45px;

        @include media-min-width(md) {
          column-gap: 60px;
        }
      }

      &-track-box {
        position: relative;
        width: 773px;
      }

      // list
      &-track-list {
        @include flex-align-row;
        justify-content: space-between;
      }

      &-item {
        position: relative;
        @include flex-align-column;

        & > label {
          cursor: pointer;
          text-align: center;
          font-size: 20px;
          line-height: normal;
          order: 1;
          padding-bottom: 6px;
        }

        & > .toolkit {
          position: absolute;
          top: -47px;
          left: 50%;
          transform: translateX(-50%);
          @include flex-align-row;
          column-gap: 5px;
          padding: 11px 17px;
          border-radius: 4px;
          background: rgba(191, 191, 191, 0.1);
          backdrop-filter: blur(10px);
          font-size: 14px;
          font-family: $font-secondary;
          font-weight: 400;
          line-height: normal;
          transition: all 200ms linear;
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
        }

        &-input {
          order: 2;
          cursor: pointer;
          position: relative;
          width: 10px;
          height: 10px;
          background-color: #c4c4c4;
          appearance: none;
          border-radius: 50%;

          &_active {
            background-color: $basic-yellow;
          }

          &:checked {
            position: relative;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 16px;
              height: 16px;
              background-color: $basic-yellow;
              z-index: 1;
              border: 3px solid $light-text;
              border-radius: 50%;
            }

            & ~ label {
              color: $basic-yellow;

              &:hover {
                & ~ .toolkit {
                  visibility: visible;
                  opacity: 1;
                  pointer-events: auto;
                }
              }
            }
          }
        }

        &:last-child {
          align-items: flex-end;
          & > label {
            transform: translateX(50%);
          }
        }
      }

      &-track {
        position: absolute;
        left: 0;
        bottom: calc(10px / 2 - 1.5px);
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background: #bfbfbf;

        &-tumb {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 4%;
          background-color: $basic-yellow;
        }
      }

      &-line {
        width: 1px;
        height: 53px;
        background: $basic-yellow;
        margin-left: 20px;
      }

      &-btn {
        border-radius: 4px;
        border: 1px solid #606060;
        background: rgba(248, 248, 248, 0.1);
        backdrop-filter: blur(40px);
        padding: 15px 31px;
        color: $light-text;
        font-size: 20px;
        line-height: normal;
        transition: all 200ms linear;

        &:hover {
          border: 1px solid $basic-yellow;
          background: rgba(250, 199, 4, 0.1);
          backdrop-filter: blur(40px);
          color: $basic-yellow;
        }
      }
    }

    // number of teams=============
    &__teams {
      margin-bottom: 54px;

      &-title {
        color: $light-gray-text;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 8px;
      }

      &-description {
        color: $gray-text;
        font-size: 15px;
        line-height: normal;
        max-width: 580px;
        margin-bottom: 35px;
      }

      &-list {
        @include flex-align-row;
        column-gap: 18px;
      }

      &-item {
        &-input {
          appearance: none;

          &:checked ~ label {
            border: 1px solid $basic-yellow;
            background: rgba(250, 199, 4, 0.1);
            backdrop-filter: blur(40px);
            color: $basic-yellow;
          }
        }

        &-label {
          cursor: pointer;
          color: $gray-text;
          font-size: 20px;
          line-height: normal;
          border-radius: 4px;
          border: 1px solid #606060;
          background: rgba(248, 248, 248, 0.1);
          backdrop-filter: blur(40px);
          padding: 15px 31px;
          transition: all 200ms linear;

          &:hover {
            border: 1px solid $basic-yellow;
            background: rgba(250, 199, 4, 0.1);
            backdrop-filter: blur(40px);
            color: $basic-yellow;
          }
        }
      }
    }

    // Entry rate
    &__rate {
      margin-bottom: 42px;
      &-title {
        @extend .form__teams-title;
      }

      &-description {
        @extend .form__teams-description;
        margin-bottom: 19px;
      }

      &-content {
        @include flex-align-row;
        column-gap: 34px;
      }

      &-line {
        @extend .form__rank-line;
      }

      &-input-custom-value {
        padding: 16px 93px 16px 25px;
        border-radius: 4px;
        border: 1px solid $gray-text;
        background: rgba(248, 248, 248, 0.1);
        backdrop-filter: blur(40px);
        outline: none;
        color: $gray-text;
        font-size: 18px;
        line-height: normal;

        &:focus {
          border: 1px solid $basic-yellow;
        }
      }

      &-list {
        @include flex-align-row;
        column-gap: 18px;
      }

      &-item {
        &-input {
          appearance: none;

          &:checked ~ label {
            border: 1px solid $basic-yellow;
            background: rgba(250, 199, 4, 0.1);
            backdrop-filter: blur(40px);
            color: $basic-yellow;
          }
        }

        &-label {
          @extend .form__teams-item-label;
          & > span {
            text-decoration: line-through;
          }
        }
      }
    }

    // regime
    &__regime {
      margin-bottom: 42px;

      &-title {
        @extend .form__teams-title;
        margin-bottom: 12px;
      }

      &-list {
        display: grid;
        grid-template-columns: repeat(4, minmax(180px, 1fr));
        gap: 16px;
      }

      &-item {
        @include flex-align-row;
        justify-content: center;

        &-input {
          appearance: none;

          &:checked ~ label {
            border: 1px solid $basic-yellow;
            background: rgba(250, 199, 4, 0.1);
            backdrop-filter: blur(40px);
            color: $basic-yellow;
          }
        }

        &-label {
          width: 100%;
          text-align: center;
          @extend .form__teams-item-label;
          padding: 27px 31px;
        }
      }
    }

    //Select the date and time
    &__datetime {
      margin-bottom: 53px;

      &-title {
        @extend .form__teams-title;
      }

      &-description {
        @extend .form__teams-description;
        margin-bottom: 15px;
      }

      &-content {
        display: grid;
        grid-template-columns: 388px auto 1fr;
        align-items: center;
        gap: 40px;
      }

      &-line {
        width: 1px;
        height: 100%;
        background-color: $basic-yellow;
        position: relative;
      }

      // -list

      &-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(130px, 1fr));
        grid-template-rows: repeat(5, 1fr);
        gap: 16px;
      }

      &-item {
        @include flex-align-row;
        justify-content: center;

        &-input {
          appearance: none;

          &:checked ~ label {
            border: 1px solid $basic-yellow;
            background: rgba(250, 199, 4, 0.1);
            backdrop-filter: blur(40px);
            color: $basic-yellow;
          }
        }

        &-label {
          width: 100%;
          text-align: center;
          @extend .form__teams-item-label;
          padding: 11px 5px;
        }
      }

      &-calendar {
        background: rgba(248, 248, 248, 0.1) !important;
      }
    }

    // limit participation to your region
    &__limit-region {
      margin-bottom: 77px;

      &-title-box {
        @include flex-align-row;
        column-gap: 13px;
        margin-bottom: 8px;
      }

      &-title {
        @extend .form__teams-title;
        margin-bottom: 0;
      }

      &-description {
        @extend .form__teams-description;
        margin-bottom: 0px;
      }

      &-switch {
        position: relative;
        width: 38.333px;
        height: 19.167px;
        flex-shrink: 0;
        background-color: #606060;
        border-radius: 10px;
        overflow: hidden;

        &-input {
          appearance: none;

          &:checked ~ label {
            background-color: $basic-yellow;

            & > div {
              left: 22px;
            }
          }
        }

        &-label {
          cursor: pointer;
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          transition: all 200ms linear;

          & > div {
            position: absolute;
            top: 50%;
            left: 4px;
            transform: translateY(-50%);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $dark-text;
            backdrop-filter: blur(60px);
            transition: all 200ms linear;
          }

          & > span {
            pointer-events: none;
            opacity: 0;
          }
        }
      }
    }

    //submit
    &__submit {
      &-box {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-btn {
        padding: 13px 62px;
        border-radius: 4px;
        background: $basic-yellow;
        color: #18181b;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transition: all 200ms linear;

        &:hover {
          outline: 1px solid $basic-yellow;
          background: rgba(250, 199, 4, 0.1);
          backdrop-filter: blur(40px);
          color: $basic-yellow;
        }
      }
    }
  }
}

// -calendar===========
.flatpickr-calendar {
  border-radius: 4px !important;
  background: rgba(248, 248, 248, 0.1) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 22px 0px 0px 0px !important;

  width: 100% !important;
  flex-shrink: 0;
  overflow: hidden;
}

.flatpickr-day {
  color: $gray-text !important;
}

.flatpickr-weekdays {
  display: none !important;
}

.flatpickr-innerContainer {
  display: grid !important;
  place-content: center !important;
}

.flatpickr-months {
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flatpickr-prev-month {
  top: -7px !important;
  left: 20% !important;
  width: 28px;
  height: 28px;

  & > svg {
    fill: #606060 !important;
  }
}

.flatpickr-next-month {
  top: -7px !important;
  right: 20% !important;
  width: 28px;
  height: 28px;

  & > svg {
    fill: #606060 !important;
  }
}

.flatpickr-current-month {
  color: $light-text !important;
  padding: 0 !important;
  font-size: 20px !important;
}

.flatpickr-monthDropdown-months {
  color: $light-text !important;
}

.flatpickr-day.inRange {
  border-radius: 0px !important;
  background: rgb(117, 103, 48) !important;
  backdrop-filter: blur(40px) !important;
  color: $light-text !important;
}

.inRange {
  position: relative;
  background: rgb(117, 103, 48) !important;
  backdrop-filter: blur(40px) !important;
  border: 0px !important;
  box-shadow: none !important;
  box-shadow:
    -5px 0 0 rgb(117, 103, 48),
    5px 0 0 rgb(117, 103, 48) !important;
}

.selected {
  border-radius: 0px !important;
  border: 2px solid $basic-yellow !important;
  background: rgb(117, 103, 48) !important;
  backdrop-filter: blur(40px) !important;
}

.flatpickr-day.selected {
  background-color: rgb(117, 103, 48) !important;
  color: $light-text !important;
}

.endRange,
.startRange {
  outline: none !important;
  background-color: #b8860b !important;
  border-radius: 0px !important;
  border: 2px solid $basic-yellow !important;
}

.rangeMode .flatpickr-day {
  margin-top: 0px !important;
  margin-bottom: 8px !important;
}

.flatpickr-day.today {
  border-radius: 0px !important;
  border: 2px solid $basic-yellow !important;
}

.flatpickr-day {
  color: $gray-text;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 35px !important;
  height: 34px !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  &:hover {
    background-color: rgba(250, 201, 4, 0.521) !important;
    backdrop-filter: blur(40px);
    border-radius: 0px !important;
    border: 0px solid $basic-yellow !important;
  }
}

.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
  display: block !important;
}
