.tournaments-stage {
  padding-top: 91px;
  padding-bottom: 22px;
  background-image: url(../../../assets/img/pages/cabinet/stage/cabinet-bg-img.webp);
  background-repeat: repeat-x;
  background-position: 0 -18px;

  &__content {
    display: grid;
    grid-template-columns: minmax(306px, 1fr) 306px;
    column-gap: 33px;
    align-items: start;
  }

  &__img-wrapper {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

    &-btn {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      @include flex-align-row;
      column-gap: 10px;
      padding: 11px 26px;
      border-radius: 4px;
      background-color: rgba(248, 248, 248, 0.2);
      backdrop-filter: blur(20px);

      @include media-min-width(lg) {
        bottom: 34px;
      }

      &-icon {
        width: 20px;
        height: 20px;
        fill: $light-text;
      }
    }
    &-input {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
    }
  }

  &__creating-tournament {
    padding: 19px 26px 15px;
    border-radius: 4px;
    background: rgba(67, 67, 67, 0.2);
    backdrop-filter: blur(40px);

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 15px;
    }

    &-text {
      color: #bfbfbf;
      font-family: $font-secondary;
      font-size: 15px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 33px;
      max-width: 235px;
    }

    &-btn {
      @include flex-align-row;
      justify-content: center;
      padding: 13px 55px;
      border-radius: 4px;
      background: $basic-yellow;
      color: #18181b;
      font-size: 20px;
      line-height: normal;
      white-space: nowrap;
      transition: all 200ms linear;

      &:hover {
        border: 1px solid $basic-yellow;
        background: rgba(250, 199, 4, 0.1);
        backdrop-filter: blur(40px);
        color: $basic-yellow;
      }
    }
  }
}
