.tournaments__wrapper {
  // background: rgba(248, 248, 248, 0.016);
  // backdrop-filter: blur(10px);
  // min-height: 100dvh;
}

// .tournaments-form {
// }

.tournaments-form__form {
  max-width: 1187px;

  & .form {
    // text-box
    &__text {
      &-box {
        display: flex;
        flex-direction: column;
        row-gap: 28px;
        margin-bottom: 35px;

        ::-webkit-scrollbar {
          width: 4px;
        }

        ::-webkit-scrollbar-track {
          background-color: rgba(248, 248, 248, 0.1);
          backdrop-filter: blur(40px);
        }

        ::-webkit-scrollbar-thumb {
          background: $basic-yellow;
          // border: 2px solid #18041ef5;
          border-radius: 4px;
        }
      }

      &-input {
        padding: 20px 31px;
        border-radius: 2px;
        background-color: rgba(248, 248, 248, 0.1);
        backdrop-filter: blur(40px);
        border: none;
        color: $light-text;
        font-size: 18px;
        outline: none;

        &:focus {
          border: 1px solid $basic-yellow;
        }
      }

      &-description {
        position: relative;
        height: 61px;
        resize: none;
        padding: 20px 31px;
        border-radius: 2px;
        background-color: rgba(248, 248, 248, 0.1);
        backdrop-filter: blur(40px);
        border: none;
        color: $light-text;
        font-size: 18px;
        outline: none;
        box-shadow: none;
        text-shadow: none;

        &:focus {
          border: 1px solid $basic-yellow;
        }

        &::placeholder {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    // rank-box
    &__rank {
      &-title {
        color: $light-gray-text;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 41px;
      }

      &__content {
        @include flex-align-row;
        column-gap: 45px;

        @include media-min-width(md) {
          column-gap: 60px;
        }
      }

      &-track-box {
        position: relative;
        width: 773px;
      }

      // list
      &-track-list {
        @include flex-align-row;
        justify-content: space-between;
      }

      &-item {
        @include flex-align-column;
        // flex-basis: calc(100% / 5);
        row-gap: 6px;

        & > label {
          cursor: pointer;
          text-align: center;
          font-size: 20px;
          line-height: normal;
          order: 1;
        }

        &-input {
          order: 2;
          cursor: pointer;
          position: relative;
          width: 10px;
          height: 10px;
          background-color: #c4c4c4;
          appearance: none;
          border-radius: 50%;

          &_active {
            background-color: $basic-yellow;
          }

          // &::before {
          //   content: '';
          //   position: absolute;
          //   top: 50%;
          //   left: 50%;
          //   transform: translate(-50%, -50%);
          //   width: 10px;
          //   height: 10px;
          //   background-color: $basic-yellow;
          //   z-index: 1;
          //   border-radius: 50%;
          // }

          &:checked {
            position: relative;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 16px;
              height: 16px;
              background-color: $basic-yellow;
              z-index: 1;
              border: 3px solid $light-text;
              border-radius: 50%;
            }

            // &:hover {
            //   display: none;
            // }

            & ~ label {
              color: $basic-yellow;
            }
          }
        }

        &:last-child {
          align-items: flex-end;
        }
      }

      &-track {
        position: absolute;
        left: 0;
        bottom: calc(10px / 2 - 1.5px);
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background: #bfbfbf;

        &-tumb {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 2%;
          background-color: $basic-yellow;
        }
      }

      &-line {
        width: 1px;
        height: 53px;
        background: #fac704;
      }

      &-btn {
        border-radius: 4px;
        border: 1px solid #606060;
        background: rgba(248, 248, 248, 0.1);
        backdrop-filter: blur(40px);
        padding: 15px 31px;
        color: $light-text;
        font-size: 20px;
        line-height: normal;
        transition: all 200ms linear;

        &:hover {
          border: 1px solid $basic-yellow;
        }
      }
    }
  }
}
