.basket-recommendations {
  padding-top: 38px;
  padding-bottom: 48px;

  &__title {
    text-align: center;
    font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
    font-weight: 400;
    line-height: 75%;

    margin-bottom: clamp(3.125rem, 2.5rem + 3.13vw, 6.25rem);
  }

  &__swiper-wrapper {
    position: relative;
    margin-bottom: clamp(3.625rem, 2.763rem + 4.31vw, 7.938rem);

    @media (min-width: 1920px) {
      margin-bottom: 0px;
    }
  }
}

//  swiper-recommendations--
.swiper .recommendations-swiper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.recommendations-swiper .swiper-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  @media (min-width: 1920px) {
    margin-bottom: 0px;
  }
}

.recommendations-swiper .swiper-slide {
  width: clamp(8.75rem, 6.25rem + 12.5vw, 21.25rem);
}

.recommendations-swiper .swiper-pagination {
  @media (min-width: 1024px) {
    display: none;
  }
}

.recommendations-swiper .swiper-pagination-bullet {
  position: relative;
  opacity: 1;
  background-color: #956d84 !important;
  border: 2px solid #ffffff !important;
}

.recommendations-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--gray-base-color) !important;
}

.recommendations-swiper .swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  border: 1px solid var(--gray-base-color) !important;
  border-radius: 50%;
}

//

.recommendations-swiper__swiper-btns {
  display: none;

  @media (min-width: 1024px) {
    cursor: pointer;
    display: block;
    display: inline-flex;
    column-gap: 35px;
    position: absolute;
    z-index: 20;
    top: -60px;
    right: 0;

    & svg {
      fill: var(--gray-base-color);
      width: 14px;
      height: 30px;
    }
  }

  @media (min-width: 1440px) {
    top: -127px;
    column-gap: 17px;
  }
}

//
.slide-stock {
  cursor: pointer;
  border: 1px solid #956d847a;
  background: var(--ffffff, #fff);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content-top {
    position: relative;
    background: #fbf9fa;
    padding: 19px 14px 4px;

    @media (min-width: 1440px) {
      padding: 24px 35px 13px;
    }

    &-img {
      aspect-ratio: 1 / 1;
      object-fit: contain;
      object-position: center;
      margin: 0 auto;
      pointer-events: none;

      height: auto;
    }

    &-logo {
      position: absolute;
      content: '';
      width: 35px;
      height: 35px;
      background-color: rgba(157, 117, 140, 0.39);
      border-radius: 50%;
      bottom: 6px;
      right: 3px;
      @include flex-align-row;
      justify-content: center;
      color: var(--gray-base-color);
      font-family: 'AguafinaScript';
      font-size: 12px;
      font-weight: 400;
      line-height: 180%;

      @media (min-width: 1440px) {
        font-size: 16px;
        width: 56px;
        height: 56px;
        bottom: 27px;
        right: 12px;
      }
    }

    &-discount {
      position: absolute;
      content: '';
      width: 32px;
      height: 31px;
      top: 5px;
      left: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px dashed #e72222;
      border-radius: 50%;
      color: #000;
      font-family: 'Acme';
      font-size: 10px;
      font-weight: 400;
      line-height: 180%;

      @media (min-width: 1440px) {
        width: 56px;
        height: 56px;
        left: 20px;
        border: 2px dashed #e72222;
        font-size: 16px;
      }
    }

    &-favorite {
      position: absolute;
      content: '';
      top: 11px;
      right: 6px;
      width: clamp(0.875rem, 0.575rem + 1.5vw, 2.375rem);
      height: clamp(0.75rem, 0.525rem + 1.13vw, 1.875rem);
      fill: #fbfbfb00;
      stroke: #956d84;
      stroke-width: 2;
      cursor: pointer;
      z-index: 2;

      &_active {
        fill: #956d84;
      }

      @media (min-width: 1440px) {
        width: 38px;
        height: 30px;
        top: 32px;
        right: 21px;
        cursor: pointer;
      }
    }
  }

  // --content-bottom----

  &__content-bottom {
    padding: 6px 6px 10px;

    @media (min-width: 1440px) {
      padding: 14px 25px 19px;
    }

    &-rating-list {
      @include flex-align-row;
      transition: all 250ms linear;
      margin-bottom: 6px;

      @media (min-width: 1440px) {
        margin-bottom: 20px;
      }

      & > li {
        @include flex-align-row;
      }

      &:hover > li > svg {
        fill: #ffffff;
        stroke: #f8e582;
      }

      & > li > svg {
        fill: #f8e582;
        stroke: #f8e582;
        cursor: pointer;
        transition: all 250ms linear;
        height: 9px;
        width: 6px;

        @media (min-width: 768px) {
          width: 15px;
          height: 12px;
        }

        &:hover {
          fill: #f8e582;
          stroke: #f8e582;
        }
      }
    }

    &-title {
      font-size: 12px;
      font-weight: 500;
      line-height: 150%;
      margin-bottom: 13px;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      transition: all 0.3s linear;
      max-height: 18px;
      cursor: pointer;

      &:hover {
        white-space: wrap;
        text-overflow: initial;
        overflow: visible;
        max-height: 54px;
      }

      @media (max-width: 767px) {
        text-align: center;
      }

      @media (min-width: 1440px) {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        width: 120px;
        margin-bottom: 0px;
      }

      & > span {
        font-weight: 700;
      }
    }

    &-price {
      &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;

        @media (min-width: 1440px) {
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 35px;
        }
      }

      &-old {
        color: var(--Gray-4, #bdbdbd);
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        text-decoration: line-through;

        @media (min-width: 1440px) {
          font-size: 18px;
          line-height: 100%;
          text-decoration-line: strikethrough;
          margin-bottom: 5px;
        }

        & > span {
          font-weight: 600;
        }
      }

      &-new {
        color: var(--gray-base-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 128%;

        @media (min-width: 1440px) {
          font-size: 18px;
          line-height: 100%;
        }
      }
    }

    // --buy----

    &-buy {
      @include flex-align-row;
      justify-content: space-between;
      padding: 0px 5px;
      margin-top: auto;

      @media (min-width: 1440px) {
        flex-direction: column;
        row-gap: 15px;
      }

      &-link {
        color: var(--gray-base-secondary-color);
        font-size: 10px;
        font-weight: 400;
        line-height: 180%;
        text-decoration: underline;

        &_mob {
          @media (min-width: 1440px) {
            display: none;
          }
        }

        &_desc {
          display: none;

          @media (min-width: 1440px) {
            display: block;
            font-size: 16px;
          }
        }

        @media (min-width: 1440px) {
          order: 2;
        }
      }

      &-btn {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        background: #956d84;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
        padding: 7px;
        @include flex-align-row;
        justify-content: center;
        transition: all 0.3s ease;

        @media (min-width: 1440px) {
          border-radius: 7px;
          padding: 22px 75px;

          &:hover {
            box-shadow: 0px 0px 5px 0px rgb(123, 255, 0) inset;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 0px;
          left: 5px;
          width: 100%;
          height: 100%;
          background-image: url(../../../assets/img/pages/main/sections/hero/statistics/desctop/branch-right.webp);
          background-repeat: no-repeat;
          background-size: 100%;
          z-index: 1;
          transition: all 0.3s ease;

          @media (min-width: 1440px) {
            top: -4px;
            left: 157px;
            width: 82px;
            height: 113px;
          }
        }

        @media (min-width: 1440px) {
          &:hover::before {
            filter: brightness(200%) drop-shadow(0 0 0px rgb(123, 255, 0));
          }
        }

        & > span {
          display: none;

          @media (min-width: 1440px) {
            display: block;
            color: var(--white-base-color);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 112.5%;
          }
        }

        & > svg {
          width: 21px;
          height: 21px;
          fill: #fff;

          @media (min-width: 1440px) {
            display: none;
          }
        }
      }
    }
  }
}
